<div class="main" [formGroup]="formGroup">
  <button
    mat-mini-fab
    color="primary"
    id="attachMedia"
    class="mini-fab"
    (click)="fileInput.click()"
  >
    <mat-icon>attach_file</mat-icon>
  </button>
  <input
    #fileInput
    hidden="true"
    type="file"
    [accept]="acceptString ?? allowedMimeTypes.join(',')"
    onclick="this.value=null"
    (change)="onSelectFile($event.target.files)"
    formControlName="input"
    required
  />
  <mat-form-field appearance="outline">
    <mat-label>Please select a File</mat-label>
    <input
      #filenameInput
      matInput
      name="filenameInput"
      type="text"
      ng-readonly="true"
      (click)="fileInput.click()"
      readonly
      [value]="uploadFileName"
    />
    <mat-icon matSuffix>cloud_upload</mat-icon>
    <mat-hint *ngIf="!hasError || formGroup.get('input').invalid">{{
      uploadFile
        ? "Size: " + uploadFileSizeString + ", Type: " + uploadFile.type
        : "Click to select a file"
    }}</mat-hint>
    <mat-error *ngIf="hasError">{{ errorMessage }}</mat-error>
  </mat-form-field>
</div>
