h1,
h2 {
  text-align: center;
}

.oauth-buttons {
  button {
    margin-bottom: 10px;
    width: 150px;
    max-width: 100%;
  }
}

.alert.alert-danger {
  color: #f44336;
  border-color: #f44336;
  background-color: transparent;
}
