<div *ngIf="user" class="d-flex flex-column">
  <div
    class="rounded border p-3 mt-3 mb-4 d-flex flex-column align-items-center"
  >
    <div *ngIf="user.profilePicture && !newProfilePicture">
      <img class="profile-picture" [src]="user.profilePicture" />
    </div>
    <app-upload-media-ui
      class="w-100"
      acceptString="image/png,image/jpeg"
      [allowedMimeTypes]="['image/png', 'image/jpeg']"
      (uploadMedia)="setNewProfilePicture($event)"
    ></app-upload-media-ui>
    <div class="pt-3">
      <div id="croppie" #croppie></div>
    </div>
    <button
      *ngIf="newProfilePicture"
      mat-flat-button
      color="accent"
      (click)="uploadAndSaveProfilePicture()"
    >
      Upload and save
    </button>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>Display Name</mat-label>
    <input matInput type="text" [value]="user.displayName" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Start Date</mat-label>
    <input matInput [matDatepicker]="picker" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-hint
      >This is the date you started practicing Parkour and Freerunning. It will
      be rounded to full years after one year or more so don't sweat
      it.</mat-hint
    >
  </mat-form-field>
</div>
