<h1 mat-dialog-title>{{ isCreating ? "Create" : "Edit" }} post</h1>
<mat-dialog-content>
  <form onsubmit="event.preventDefault()">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input
        type="text"
        matInput
        name="title"
        (keyup)="hasChanged = true"
        [(ngModel)]="postTitle"
      />
    </mat-form-field>
    <mat-tab-group
      class="outline-box"
      (selectedIndexChange)="tabChanged($event.valueOf())"
    >
      <mat-tab label="Upload Media">
        <app-upload-media-ui
          [allowedMimeTypes]="[
            'image/png',
            'image/jpeg',
            'image/gif',
            'video/mp4'
          ]"
          (changed)="hasChanged = true"
          (uploadMedia)="onUploadMediaSelect($event)"
        ></app-upload-media-ui>
      </mat-tab>
      <mat-tab label="Link Media">
        <mat-form-field>
          <mat-label>Link Media</mat-label>
          <input
            #linkInput
            matInput
            name="link"
            type="text"
            (input)="onLinkUpdate(getValueFromEventTarget($event.target) ?? '')"
            [formControl]="linkInputFormControl"
          />
          <mat-icon matSuffix>link</mat-icon>
          <mat-hint>{{
            mediaLink.text && mediaLink.platform
              ? "Platform: " +
                mediaLink.platform +
                ", Video ID: " +
                mediaLink.id
              : "Enter a media link"
          }}</mat-hint>
          <mat-error *ngIf="linkInputFormControl.hasError('invalid')"
            >The {{ mediaLink.platform ? mediaLink.platform : "media" }} link is
            not valid!</mat-error
          >
        </mat-form-field>
      </mat-tab>
    </mat-tab-group>
    <mat-form-field appearance="outline">
      <mat-label>Location (Coming soon)</mat-label>
      <input
        type="text"
        matInput
        name="location"
        (keyup)="hasChanged = true"
        [(ngModel)]="postLocation"
        disabled
      />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Spot</mat-label>
      <input
        matInput
        name="spot"
        [matAutocomplete]="spotAutocomplete"
        (keyup)="hasChanged = true"
      />
      <mat-autocomplete
        #spotAutocomplete="matAutocomplete"
        (optionSelected)="selectSpot($event.option.value)"
        [displayWith]="getSpotNameFromId"
      >
        <mat-option
          class="spotAutocompleteOption"
          *ngFor="let spot of filteredSpots"
          [value]="spot.id"
        >
          <img
            *ngIf="spot.hasMedia()"
            [src]="spot.previewImageSrc()"
            alt="Img"
          />
          <span>{{ spot.name() }}</span> |
          <small
            >Location: {{ spot.location().lat }},
            {{ spot.location().lng }}</small
          >
        </mat-option>
      </mat-autocomplete>
      <mat-hint>{{
        postSpot ? "Spot ID: " + postSpot.id : "No spot selected"
      }}</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label> Text body </mat-label>
      <textarea
        #content
        matInput
        name="content"
        (keyup)="hasChanged = true"
        [(ngModel)]="postBody"
      ></textarea>
      <mat-hint>{{ content.value.length }} / 1024</mat-hint>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button
    i18n
    mat-flat-button
    [color]="hasChanged ? 'warn' : ''"
    (click)="close()"
  >
    {{ hasChanged ? "Discard" : "Cancel" }}
  </button>
  <div class="spacer"></div>
  <button
    mat-flat-button
    color="accent"
    [disabled]="!hasChanged"
    [mat-dialog-close]="makePostToReturn()"
  >
    Post
  </button>
</mat-dialog-actions>
