<mat-tab-group mat-stretch-tabs>
  <!-- Discover Spots tab -->
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">explore</mat-icon>
      <span class="d-none d-sm-block d-md-none d-lg-none d-xl-block">
        Discover
      </span>
    </ng-template>
    <div class="p-3">
      <h2 class="mat-h2 d-flex justify-content-between">
        Discover Spots
        <button
          mat-mini-fab
          class="mat-elevation-z0"
          color="white"
          (click)="closeView()"
        >
          <mat-icon
            aria-label="Button with magnifying lens to search for spots"
          >
            close
          </mat-icon>
        </button>
      </h2>

      <!-- <mat-chip-list
        aria-label="DiscoverLocationOptions"
        (change)="discoverDistanceChipSelected($event)"
      >
        <mat-chip [selectable]="true">Rating</mat-chip>
        <mat-chip [selectable]="true">Distance</mat-chip>
        <mat-chip [selectable]="true">Most posts</mat-chip>
        <mat-chip [selectable]="true">Most saved</mat-chip>
      </mat-chip-list> -->

      <h3 class="mat-h3 mt-3 pb-3">Spots around Zürich</h3>

      <button mat-button (click)="loadDiscoverSpots(0, 0)">Load spots</button>

      <div class="discover-grid">
        @for(spot of discoverSpots; track spot) {
        <app-spot-preview-card
          class="w-100 h-100"
          [spot]="spot"
          [infoOnly]="true"
          [clickable]="true"
          (click)="spotClicked(spot)"
        ></app-spot-preview-card>
        }
      </div>
    </div>
  </mat-tab>

  <!-- Spots near me tab -->
  <mat-tab disabled>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">radar</mat-icon>
      <span class="d-none d-sm-block d-md-none d-lg-none d-xl-block">
        Near me
      </span>
    </ng-template>
    <div class="p-3">
      <h2 class="mat-h2 d-flex justify-content-between">
        Spots near me
        <button
          mat-mini-fab
          class="mat-elevation-z0"
          color="white"
          (click)="closeView()"
        >
          <mat-icon
            aria-label="Button with magnifying lens to search for spots"
          >
            close
          </mat-icon>
        </button>
      </h2>
    </div>
  </mat-tab>

  <!-- Spot search tab -->
  <mat-tab disabled>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">search</mat-icon>
      <span class="d-none d-sm-block d-md-none d-lg-none d-xl-block">
        Search
      </span>
    </ng-template>
    <div class="p-3">
      <h2 class="mat-h2 d-flex justify-content-between">
        Search spots
        <button
          mat-mini-fab
          class="mat-elevation-z0"
          color="white"
          (click)="closeView()"
        >
          <mat-icon
            aria-label="Button with magnifying lens to search for spots"
          >
            close
          </mat-icon>
        </button>
      </h2>
      <div class="d-flex flex-row align-items-top">
        <mat-form-field
          #searchFormField
          id="searchFormField"
          appearance="outline"
        >
          <mat-label>Search spots</mat-label>
          <input matInput type="text" />
        </mat-form-field>
      </div>

      <div id="searchSpotList"></div>
    </div>
  </mat-tab>
</mat-tab-group>
