<div
  class="h-100 d-flex flex-column gap-3"
  [class.p-3]="!isEmbedded"
  [style]="{ 'padding-top': isEmbedded ? '0 !important' : '1rem' }"
>
  @if(showHeader()) {
  <!-- Header image -->
  <!-- <div
  class="header w-100"
  style="height: 200px; overflow: hidden; position: relative"
>
  <img
    [ngSrc]="bannerImageSrc"
    alt="Swiss Jam header image"
    fill
    style="object-fit: cover"
  />
</div> -->

  <!-- Header info -->
  <div class="d-flex flex-row gap-3 w-100 pt-3" [class.p-3]="isEmbedded">
    <div class="flex-grow-1">
      <h2 class="mat-heading-large">{{ name }}</h2>
      <p>{{ venueString }}, {{ localityString }}</p>
      <p class="d-flex flex-column">
        <span>
          {{
            readableStartDate !== readableEndDate
              ? readableStartDate + " - " + readableEndDate
              : readableStartDate
          }}
        </span>
        @defer{
        <span>
          <span i18n>Starts in: </span>
          <app-countdown [timestamp]="start"></app-countdown>
        </span>
        }
      </p>
    </div>
    @if(!isEmbedded) {
    <div class="d-flex flex-row gap-2">
      <button mat-icon-button class="d-flex" (click)="shareEvent()">
        <mat-icon>share</mat-icon>
      </button>
      <button mat-icon-button class="d-flex" [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
    }
  </div>

  <mat-menu #menu="matMenu">
    <button mat-menu-item disabled>
      <mat-icon>report</mat-icon>
      <span i18n>Report</span>
    </button>
    <a
      [routerLink]="['/embed']"
      [queryParams]="{ type: 'event' }"
      class="text-decoration-none"
    >
      <button mat-menu-item>
        <mat-icon>code</mat-icon>
        <span i18n>Embed</span>
      </button>
    </a>
  </mat-menu>
  }

  <!-- <mat-chip-listbox class="py-2">
    <mat-chip-option i18n>Spot Map</mat-chip-option>
    <mat-chip-option i18n disabled>Challenges</mat-chip-option>
  </mat-chip-listbox> -->

  <!-- Map stuff -->
  <div class="flex-grow-1">
    <!-- <div class="d-flex flex-row justify-content-between flex-wrap mb-2">
        <h3
          class="mat-heading-small text-truncate mb-0"
          style="height: 42px"
          i18n
        >
          Event spot map
        </h3>
        <a [routerLink]="['/map']">
          <button
            mat-stroked-button
            color="primary"
            matTooltip="Show all spots"
          >
            <mat-icon>map</mat-icon>
            <span class="text-truncate" i18n>Open global spot map</span>
          </button>
        </a>
      </div> -->

    @if(spots() && spots()!.length > 0) {
    <app-spot-map
      @fadeInOut
      #spotMap
      id="spotMap"
      [isClickable]="true"
      [showGeolocation]="false"
      [showSatelliteToggle]="true"
      [boundRestriction]="{
          north: 47.4, 
          south: 47.395,
          west: 8.54087, 
          east: 8.55208,
        }"
      [polygons]="areaPolygon() ? [areaPolygon()!] : []"
      [minZoom]="16"
      [centerStart]="markers[markers.length - 1].location"
      [mapStyle]="mapStyle"
      [markers]="markers"
      [spots]="spots()"
      [selectedSpot]="selectedSpot()"
      [showSpotPreview]="true"
      (selectedSpotChange)="selectedSpot.set($event)"
      class="w-100 h-100 overflow-hidden d-inline-block"
      style="border-radius: 0.375rem 0.375rem 0px 0px"
    ></app-spot-map>
    }
    <!-- <div class="d-flex flex-row gap-3">
        @for(marker of markers; track marker) {
        <span
          class="d-flex flex-row gap-1 mat-title-small justify-content-center align-items-center"
          ><app-marker
            [icon]="marker.icon"
            [color]="marker.color"
            [size]="0.8"
          ></app-marker>
          {{ marker.name }}</span
        >
        }
      </div> -->
    <!-- <div class="col-md-6 col-lg-4 pb-5">
      @if(selectedSpot()) {
      <app-spot-details
        @fadeInOut
        [spot]="selectedSpot()"
        [editable]="false"
        [isEditing]="false"
        [dismissable]="true"
        [border]="true"
        (dismiss)="selectedSpot.set(null)"
      ></app-spot-details>
      } @else {@if(spots?.length > 0) {
      <app-spot-list
        @fadeInOut
        [spots]="spots"
        [withHrefLink]="false"
        (spotClickIndex)="spotClickedIndex($event)"
        text="Event spots"
        i18n-text
      ></app-spot-list>
      } }
    </div> -->
  </div>
</div>
