<!-- <div
  class="header w-100"
  style="height: 200px; overflow: hidden; position: relative"
>
  <img
    [ngSrc]="bannerImageSrc"
    alt="Swiss Jam header image"
    fill
    style="object-fit: cover"
  />
</div> -->
<div class="container-fluid p-3">
  <div class="row">
    <div class="col-md-12 p-3">
      <h2 class="mat-heading-large">{{ name }}</h2>
      <p>
        {{
          readableStartDate !== readableEndDate
            ? readableStartDate + " - " + readableEndDate
            : readableStartDate
        }}
      </p>
      @defer{
      <p>
        <span i18n>Starts in: </span>
        <app-countdown [timestamp]="start"></app-countdown>
      </p>
      }
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-lg-8 pb-5">
      <div class="d-flex flex-row justify-content-between flex-wrap mb-2">
        <h3
          class="mat-heading-small text-truncate mb-0"
          style="height: 42px"
          i18n
        >
          Event spot map
        </h3>
        <a [routerLink]="['/map']">
          <button
            mat-stroked-button
            color="primary"
            matTooltip="Show all spots"
          >
            <mat-icon>map</mat-icon>
            <span class="text-truncate" i18n>Open global spot map</span>
          </button>
        </a>
      </div>
      @if(spots?.length > 0) {
      <app-spot-map
        @fadeInOut
        #spotMap
        id="spotMap"
        [isClickable]="true"
        [showGeolocation]="false"
        [showSatelliteToggle]="true"
        [boundRestriction]="{
          north: 47.4, 
          south: 47.395,
          west: 8.54087, 
          east: 8.55208,
        }"
        [minZoom]="16"
        [centerStart]="markers[markers.length - 1].location"
        [mapStyle]="mapStyle"
        [markers]="markers"
        [spots]="spots"
        [selectedSpot]="selectedSpot()"
        (selectedSpotChange)="selectedSpot.set($event)"
        class="w-100 rounded overflow-hidden"
        style="display: inline-block; aspect-ratio: 4/3"
      ></app-spot-map>
      <div class="d-flex flex-row gap-3">
        @for(marker of markers; track marker) {
        <span
          class="d-flex flex-row gap-1 mat-title-small justify-content-center align-items-center"
          ><app-marker
            [icon]="marker.icon"
            [color]="marker.color"
            [size]="0.8"
          ></app-marker>
          {{ marker.name }}</span
        >
        }
      </div>
      }
    </div>
    <div class="col-md-6 col-lg-4 pb-5">
      <!-- <h3 class="mat-title-large">Spots</h3> -->
      @if(selectedSpot()) {
      <app-spot-details
        @fadeInOut
        [spot]="selectedSpot()"
        [editable]="false"
        [isEditing]="false"
        [dismissable]="true"
        [border]="true"
        (dismiss)="selectedSpot.set(null)"
      ></app-spot-details>
      } @else {@if(spots?.length > 0) {
      <app-spot-list
        @fadeInOut
        [spots]="spots"
        [withHrefLink]="false"
        (spotClickIndex)="spotClickedIndex($event)"
        text="Event spots"
        i18n-text
      ></app-spot-list>
      } }
    </div>
  </div>
  <div class="row">
    <div class="col-md-12"></div>
  </div>
</div>
