div.main {
  display: flex;
  align-items: center;
  width: 100%;
}

button {
  margin-right: 15px;
  margin-bottom: 21.5px;
}

.spacer {
  flex: 1 1 auto;
}

mat-form-field,
.form-group,
::ng-deep .mat-form-field-wrapper {
  width: 100%;
}
