<!-- <mat-progress-bar
  *ngIf="isSaving"
  color="accent"
  mode="indeterminate"
></mat-progress-bar> -->

<mat-card
  matRipple
  [matRippleDisabled]="!clickable"
  class="pt-0"
  [class.mat-elevation-z0]="flat"
  [class.clickable]="clickable"
>
  @if(!isEditing) {
  <mat-card-header class="pb-2">
    <mat-card-title [matTooltip]="spot.getName(locale)">
      {{ spot.getName(locale) }}
    </mat-card-title>
    <mat-card-subtitle class="d-flex flex-row">
      @if(spot.rating) {
      <span
        class="d-flex flex-row font-weight-bold align-items-center flex-shrink-0"
      >
        <mat-icon style="width: 20px; height: 20px; font-size: 20px"
          >star</mat-icon
        >
        {{ spot.rating }}
        <span class="px-1">·</span>
      </span>
      } @if(spot.address) {
      <span class="text-truncate">{{ spot.getLocalityString() }}</span>
      }
    </mat-card-subtitle>
    <!-- <mat-card-subtitle class="pt-2 d-flex flex-row">
      @if(spot.type && spot.type !== "other") {
      <mat-chip class="me-1">{{ capitalize(spot.type) }}</mat-chip>
      } @if(spot.area && spot.area !== "other") {
      <mat-chip [color]="spot.area === 'private' ? 'warn' : ''">{{
        capitalize(spot.area)
      }}</mat-chip>
      }
    </mat-card-subtitle> -->

    <!-- Icon buttons in header -->
    <div class="spot-button-row" *ngIf="!isEditing">
      @if(authenticationService.isSignedIn) { @if (!visited) {
      <button
        mat-icon-button
        color="accent"
        matTooltip="Bookmark this spot"
        aria-label="Icon button with a bookmark icon"
        (click)="bookmarked = !bookmarked; $event.stopPropagation()"
      >
        <mat-icon>{{ bookmarked ? "bookmark" : "bookmark_border" }}</mat-icon>
      </button>

      }
      <button
        mat-icon-button
        color="primary"
        matTooltip="Mark this spot as visited"
        aria-label="Icon button with a flag icon"
        (click)="
          visited = !visited; bookmarked = false; $event.stopPropagation()
        "
      >
        <mat-icon>{{ visited ? "flag" : "outlined_flag" }}</mat-icon>
      </button>
      }
      <button
        mat-icon-button
        matTooltip="Share this spot"
        i18n-matTooltip="
          Share spot tooltip|The tootltip of the share spot icon
          button@@share_spot_tooltip"
        aria-label="Icon button with a share icon"
        i18n-aria-label="
          Share spot aria label|The aria label of the share spot icon
          button@@share_spot_aria_label"
        (click)="shareSpot(); $event.stopPropagation()"
      >
        <mat-icon>share</mat-icon>
      </button>
      <button
        mat-icon-button
        matTooltip="Directions to spot"
        i18n-matTooltip="
          Directions spot tooltip|The tooltip of the directions spot icon
          button@@directions_spot_tooltip"
        aria-label="Icon button with a directions icon"
        i18n-aria-label="
          Spot directions aria label|The aria label of the directions spot icon
          button@@directions_spot_aria_label"
        (click)="openDirectionsInMaps()"
      >
        <mat-icon>directions</mat-icon>
        <!-- <mat-icon>turn_right</mat-icon> -->
        <!-- <mat-icon>route</mat-icon> -->
        <!-- <mat-icon>share_location</mat-icon> -->
      </button>
    </div>
  </mat-card-header>
  } @if(report) {
  <div class="report-info">
    <span class="mat-h3 m-0" i18n
      >This spot was reported as "{{ report.reason }}"</span
    >
  </div>
  }
  <mat-card-content>
    @if(!isEditing) {
    <!-- spot media carousel  -->
    @if(spot.media && spot.media.length > 0) {
    <app-img-carousel class="mb-2 mt-1" [media]="spot.media">
    </app-img-carousel>
    }

    <!-- <swiper-container
      class="spot-media-swiper"
      *ngIf="spot.media && spot.media.length > 0"
      [navigation]="true"
      [pagination]="{ clickable: true }"
    >
      <swiper-slide *ngFor="let mediaObj of spot.media"
        ><img
          *ngIf="mediaObj.type === 'image'"
          src="{{ mediaObj.src }}"
          class="spot-img"
        />
      </swiper-slide>
    </swiper-container> -->

    <!-- Spot Description -->
    <div *ngIf="spot.getDescription(locale)">
      <h4
        class="mat-title-small"
        i18n="description header|The header for the spot description"
      >
        Description
      </h4>
      <p>
        {{ spot.getDescription(locale) }}
      </p>
    </div>

    <!-- Location -->
    <!-- <div>
      <h4 class="mat-title-small" i18n>Location</h4>
      <p>
        {{ spot.getReadableLocation() }}
      </p>
    </div> -->

    <!-- Spot Address -->
    <!-- <div *ngIf="spot.address?.country">
      <h4 *ngIf="spot.address?.formatted" class="mat-title-small">Address</h4>
      <p>{{ spot.address.formatted }}</p>
      <h4 class="mat-title-small">Country</h4>
      <p>
        {{ getCountryEmojiFromAlpha2(spot.address.country.short) }}
        {{ getCountryNameFromShortCode(spot.address.country.short) }}
      </p>
    </div> -->

    <!-- Freatures -->
    @if(true) {
    <div class="mb-3">
      <h4 i18n class="mat-title-small">Features and amenities</h4>
      <mat-chip-set aria-label="Dog selection">
        <mat-chip>
          <mat-icon matChipAvatar>roofing</mat-icon>
          Covered
        </mat-chip>
        <mat-chip>
          <mat-icon matChipAvatar>nature_people</mat-icon>
          Outdoor
        </mat-chip>
        <mat-chip>
          <mat-icon matChipAvatar>home</mat-icon>
          Indoor
        </mat-chip>
        <mat-chip>
          <mat-icon matChipAvatar>lightbulb</mat-icon>
          Lighting
        </mat-chip>
        <mat-chip>
          <mat-icon matChipAvatar>wc</mat-icon>
          WC
        </mat-chip>
        <mat-chip>
          <mat-icon matChipAvatar>checkroom</mat-icon>
          Changing room
        </mat-chip>
        <mat-chip>
          <mat-icon matChipAvatar>lock</mat-icon>
          Lockers
        </mat-chip>
        <mat-chip class="error-chips">
          <mat-icon matChipAvatar>paid</mat-icon>
          Enree fee
        </mat-chip>
        <mat-chip>
          <mat-icon matChipAvatar>water_drop</mat-icon>
          Drinking water
        </mat-chip>
        <mat-chip>
          <mat-icon matChipAvatar>local_parking</mat-icon>
          Local parking
        </mat-chip>
        <mat-chip>
          <mat-icon matChipAvatar>power</mat-icon>
          Power outlet
        </mat-chip>
        <mat-chip class="tertiary-chips">
          <mat-icon matChipAvatar>grass</mat-icon>
          Possibly overgrown
        </mat-chip>
      </mat-chip-set>
    </div>
    }

    <div class="d-flex justify-start pb-2">
      <button
        mat-stroked-button
        color="primary"
        i18n-matTooltip="
          Open in maps button tooltip|Tooltip of button to open the spot in
          maps@@open_maps_tooltip"
        matTooltip="Open the location of this Spot in Google Maps"
        (click)="openSpotInMaps()"
        i18n="
          Open in maps button|Button to open the spot in
          maps@@open_maps_button_label"
      >
        Open in maps
      </button>
    </div>

    <!-- Action buttons -->
    @if(authenticationService.isSignedIn) {
    <div class="d-flex mb-3 mt-3 gap-2">
      <button
        mat-stroked-button
        i18n-matTooltip
        matTooltip="Edit this spot"
        i18n-aria-label
        aria-label="Example icon button with a share icon"
        (click)="editButtonClick()"
        class="flex-grow-1 flex-basis-0"
        i18n="Edit button label|Label of the button to edit the spot"
      >
        Edit
      </button>
      <button
        mat-stroked-button
        color="warn"
        i18n-matTooltip
        matTooltip="Report this spot"
        i18n-aria-label
        aria-label="Example icon button with a share icon"
        class="flex-grow-1 flex-basis-0"
        (click)="openSpotReportDialog()"
        i18n="report button label|Label of the button to report the spot"
      >
        Report
      </button>
    </div>
    } } @else {
    <!-- Spot title editing field -->
    <form>
      <mat-form-field style="width: 100%">
        <mat-label
          i18n="
            spot name placeholder|Placeholder of the spot name in the edit form
          "
          >Spot name</mat-label
        >
        <input
          #spotNameInput
          matInput
          [value]="spot?.getName(locale)"
          (change)="spot.setName($event.target.value, locale)"
        />
      </mat-form-field>
    </form>

    <!-- Media preview grid -->
    <app-media-preview-grid
      [media]="spot.editableMedia"
      (mediaChanged)="mediaChanged($event)"
    ></app-media-preview-grid>

    <!-- Image upload  -->
    <div class="upload-spot-image-box">
      <app-upload-media-ui
        [allowedMimeTypes]="['image/jpg', 'image/jpeg', 'image/png']"
        (uploadMedia)="setSpotImage($event)"
      >
      </app-upload-media-ui>
      <button
        mat-flat-button
        (click)="uploadImage()"
        [disabled]="!newSpotImage"
        class="mt-2"
        color="primary"
        i18n="
          Upload spot image button label|Label of the button to upload a spot
          image
        "
      >
        Upload Spot Image
      </button>
    </div>

    <!-- Edit spot form -->
    <mat-form-field style="width: 100%">
      <mat-label i18n>Spot type</mat-label>
      <mat-select
        [value]="spot?.type"
        (selectionChange)="spot.type = $event.value"
      >
        <mat-option *ngFor="let type of spotTypes" [value]="type">
          {{ capitalize(type) }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field style="width: 100%">
      <mat-label i18n>Spot area</mat-label>
      <mat-select
        [value]="spot?.area"
        (selectionChange)="spot.area = $event.value"
      >
        <mat-option *ngFor="let area of spotAreas" [value]="area">
          {{ capitalize(area) }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field style="width: 100%">
      <mat-label i18n>Description</mat-label>
      <textarea
        matInput
        i18n-placeholder="
          Spot description edit field placeholder|Placeholder of the spot
          description edit field
        "
        placeholder="Description of the spot, its features and more..."
        [value]="spot?.getDescription(locale) ?? ''"
        (change)="spot.setDescription($event.target.value, locale)"
      ></textarea>
    </mat-form-field>

    <div class="my-3 d-flex justify-start">
      <button
        mat-stroked-button
        *ngIf="spot.id && !hasBounds()"
        (click)="addBoundsClicked()"
        i18n="
          Add bounds button label|Label of the button to add bounds to a spot
        "
      >
        Add bounds
      </button>
    </div>
    }
  </mat-card-content>
  @if(isEditing) {
  <mat-card-actions class="mt-3 gap-2">
    <button
      mat-stroked-button
      color="warn"
      *ngIf="editable"
      (click)="discardButtonClick()"
      class="flex-grow-1 flex-basis-0"
      i18n="Discard changes button label|Label of the button to discard changes"
    >
      Discard changes
    </button>
    <button
      mat-stroked-button
      color="primary"
      *ngIf="editable"
      (click)="saveButtonClick()"
      class="flex-grow-1 flex-basis-0"
      i18n="Save changes button label|Label of the button to save changes"
    >
      Save changes
    </button>
  </mat-card-actions>
  }
</mat-card>
