mat-card {
  ::ng-deep .mat-card-header-text {
    width: 100%;
    margin: 0;
  }
}

.clickable {
  cursor: pointer;
}

.spot-img {
  margin-bottom: 20px;
  margin-left: -24px;
  margin-right: -24px;
  width: calc(100% + 2 * 24px);
  height: auto;
}

#closeSpotFab {
  float: left;
  margin-left: -10px;
  margin-right: 5px;
}

mat-expansion-panel {
  margin-left: -6px;
  margin-right: -6px;
  width: calc(100% + 2 * 6px);
}

.spot-button-row {
  margin-left: -10px;
  margin-right: -10px;
}

.spot-button-row button {
  margin-right: 5px;
}

div.upload-spot-image-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border: black 1px solid;
  border-radius: 15px;
}
