<mat-card
  matRipple
  [matRippleDisabled]="!clickable"
  [class.mat-elevation-z0]="flat"
  [class.clickable]="clickable"
>
  <mat-card-header>
    <mat-card-title>
      <button
        *ngIf="dismissable"
        mat-icon-button
        #closeSpotFab
        id="closeSpotFab"
        (click)="dismissed()"
      >
        <mat-icon>close</mat-icon>
      </button>
      <span *ngIf="!isEditing">
        {{ spot.name }}
      </span>
      <form *ngIf="isEditing">
        <mat-form-field style="width: calc(100% - 35px)">
          <mat-label>Spot name</mat-label>
          <input
            #spotNameInput
            matInput
            [value]="spot.name || ''"
            (change)="spot.name = $event.target.value"
          />
        </mat-form-field>
      </form>
      <mat-icon *ngIf="visited && !isEditing" style="float: right"
        >check</mat-icon
      >
    </mat-card-title>
    <mat-card-subtitle>
      <span *ngIf="!isEditing">
        {{ capitalize(spot.type) }}
        <app-rating
          class="float-right"
          *ngIf="spot?.rating"
          [rating]="spot.rating"
          color="accent"
        ></app-rating>
      </span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form *ngIf="isEditing">
      <mat-form-field style="width: 100%">
        <mat-label>Spot type</mat-label>
        <mat-select [(value)]="spot.type">
          <mat-option *ngFor="let type of spotTypes" [value]="type">
            {{ capitalize(type) }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="width: 100%">
        <mat-label>Spot area</mat-label>
        <mat-select [(value)]="spot.area">
          <mat-option *ngFor="let area of spotAreas" [value]="area">
            {{ capitalize(area) }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="width: 100%">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          placeholder="Description of the spot, its features and more..."
          [value]="spot.description || ''"
          (change)="spot.description = $event.target.value"
        ></textarea>
      </mat-form-field>
    </form>
  </mat-card-content>
  <div class="spot-button-row">
    <button
      *ngIf="editable && isEditing && !hasBounds()"
      mat-button
      (click)="addBoundsClicked()"
    >
      Add bounds
    </button>
  </div>
  <mat-card-actions *ngIf="isEditing">
    <button
      color="accent"
      *ngIf="editable"
      mat-button
      (click)="saveButtonClick()"
    >
      Save changes
    </button>
    <button
      color="primary"
      *ngIf="editable"
      mat-button
      (click)="discardButtonClick()"
    >
      Discard changes
    </button>
  </mat-card-actions>
  <mat-accordion *ngIf="!isEditing">
    <mat-expansion-panel [expanded]="true" [class.mat-elevation-z1]="flat">
      <mat-expansion-panel-header>
        <mat-panel-title> Details </mat-panel-title>
        <mat-panel-description> Info and pictures </mat-panel-description>
      </mat-expansion-panel-header>
      <img src="{{ spot.previewImage }}" class="spot-img" alt="" />
      <div *ngIf="!spot.hasMedia" class="upload-spot-image-box">
        <p>There are no images for this spot</p>
        <app-upload-media-ui [allowedMimeTypes]="['image/jpeg']" acceptString="image/jpeg" (uploadMedia)="setSpotImage($event)">
        </app-upload-media-ui>
        <button mat-flat-button (click)="uploadImage()" color="accent">
          Upload Spot Image
        </button>
      </div>
      <p *ngIf="spot.description">
        {{ spot.description }}
      </p>
      <p *ngIf="spot.type">Type: {{ capitalize(spot.type) }}</p>
      <p *ngIf="spot.area">Area: {{ capitalize(spot.area) }}</p>

      <div class="spot-button-row">
        <button *ngIf="visited" mat-button (click)="rateClick()" color="accent">
          Rate
        </button>
        <button mat-button>
          {{ !visited ? "Mark as visited" : "Remove from visited" }}
        </button>
        <button mat-button (click)="focusClick()">Focus</button>
        <button mat-button color="accent" (click)="shareSpot()">Share</button>
      </div>
      <div class="spot-button-row">
        <button *ngIf="editable" mat-button (click)="editButtonClick()">
          Edit Spot
        </button>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel
      [class.mat-elevation-z1]="flat"
      (opened)="postPanelOpened()"
      (closed)="postPanelClosed()"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Posts </mat-panel-title>
        <mat-panel-description> Posts from this spot </mat-panel-description>
      </mat-expansion-panel-header>
      <app-post-collection [posts]="spotPosts"></app-post-collection>
    </mat-expansion-panel>
    <mat-expansion-panel [class.mat-elevation-z1]="flat">
      <mat-expansion-panel-header>
        <mat-panel-title> Edit voting </mat-panel-title>
        <mat-panel-description>
          Vote for spot details changes
        </mat-panel-description>
      </mat-expansion-panel-header>
      ... Coming soon ...
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>
