<div
  #fabContainer
  class="fab-container"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
>
  <button
    mat-fab
    class="sd-toggler"
    [color]="buttonConfig?.mainButton?.color || 'primary'"
    [matTooltipDisabled]="!buttonConfig?.mainButton?.tooltip || !openOnHover"
    [matTooltip]="buttonConfig?.mainButton?.tooltip || ''"
    [matTooltipPosition]="buttonConfig?.tooltipPosition || 'left'"
    (click)="onMainClick()"
  >
    <mat-icon
      [@mainFabButtonIconRotation]="{
        value: isOpen ? 'open' : 'closed',
        params: { degrees: rotationDegrees }
      }"
      >{{
        buttonConfig?.mainButton?.icon ? buttonConfig.mainButton.icon : "add"
      }}</mat-icon
    >
  </button>
  <div
    class="mini-fab-container"
    *ngIf="isOpen"
    [@speedDialStagger]="{ value: buttonConfig?.miniButtons?.length || 0 }"
  >
    <button
      *ngFor="let miniBtn of buttonConfig.miniButtons; let i = index"
      mat-mini-fab
      class="mini-fab"
      [color]="buttonConfig?.miniButtonColor || 'accent'"
      [matTooltip]="miniBtn.tooltip"
      [matTooltipPosition]="buttonConfig?.tooltipPosition || 'left'"
      (click)="miniButtonClick(i)"
    >
      <mat-icon>{{ miniBtn.icon }}</mat-icon>
    </button>
  </div>
</div>
