<div class="map-container">
  <app-spot-map
    #spotMap
    id="spotMap"
    [(selectedSpot)]="selectedSpot"
    [(isEditing)]="isEditing"
    [(mapStyle)]="mapStyle"
    (visibleSpotsChange)="visibleSpots = $event"
    (hasGeolocationChange)="hasGeolocation = $event"
  ></app-spot-map>

  <div class="search-group">
    <mat-form-field
      class="spot-search-field mat-elevation-z3"
      appearance="fill"
    >
      <button
        *ngIf="selectedSpot"
        mat-icon-button
        matSuffix
        [matMenuTriggerFor]="searchUserMatMenu"
        (click)="$event.stopPropagation(); spotMap.closeSpot()"
      >
        <mat-icon>close</mat-icon>
      </button>
      <mat-icon *ngIf="!selectedSpot" matSuffix>search</mat-icon>

      <input
        matInput
        placeholder="Find spots"
        [value]="selectedSpot ? selectedSpot.name : ''"
        [formControl]="spotSearchControl"
        [matAutocomplete]="spotAutocomplete"
      />
      <mat-autocomplete
        #spotAutocomplete="matAutocomplete"
        (optionSelected)="
          openSpotById($event.option.value);
          spotSearchControl.setValue('');
          ($event.stopPropagation)
        "
      >
        <mat-option
          class="spotAutocompleteOption"
          *ngFor="let hit of (spotSearchResults$ | async)?.hits"
          [value]="hit.document.id"
        >
          <!-- <img *ngIf="spot.previewImage" [src]="spot.previewImage" alt="Img" /> -->
          <span>{{ hit.document.name.de_CH ?? "" }}</span>
          <!-- <small
            >Location: {{ spot.location.lat }}, {{ spot.location.lng }}</small
          > -->
        </mat-option>
      </mat-autocomplete>
      <button
        mat-icon-button
        matSuffix
        color="primary"
        class="profile-icon-button login-fab d-md-none"
        [matMenuTriggerFor]="searchUserMatMenu"
        (click)="$event.stopPropagation()"
      >
        <mat-icon *ngIf="!authService.isSignedIn">person_outline</mat-icon>
        <img
          *ngIf="
            authService.isSignedIn && authService.user?.data?.profilePicture
          "
          [src]="authService.user.data.profilePicture"
        />
      </button>
    </mat-form-field>

    <!-- <app-spot-compact-view
      [@inOutAnimation]
      *ngIf="selectedSpot"
      #spotDetail
      [spot]="selectedSpot"
      [flat]="true"
      [dismissable]="true"
      [infoOnly]="false"
      [editable]="false"
      [(isEditing)]="isEditing"
      (dismiss)="closeSpot()"
      (addBoundsClick)="addBounds()"
      (updateSpotEvent)="getPathsFromSpotPolygon()"
      (focusClick)="focusSpot(selectedSpot)"
      (saveClick)="saveSpot($event)"
    ></app-spot-compact-view> -->

    <app-bottom-sheet
      #bottomSheet
      title="{{ visibleSpots.length }} spot{{
        visibleSpots.length === 1 ? '' : 's'
      }} in this area"
      [hasHeader]="!selectedSpot"
    >
      <div class="spot-preview-container">
        <app-spot-compact-view
          [@inOutAnimation]
          #spotDetail
          *ngIf="selectedSpot"
          [spot]="selectedSpot"
          [flat]="true"
          [dismissable]="false"
          [infoOnly]="false"
          [editable]="true"
          [isEditing]="isEditing"
          (isEditingChange)="
            $event ? spotMap.startEdit() : spotMap.discardEdit()
          "
          (dismiss)="spotMap.closeSpot()"
          (addBoundsClick)="spotMap.addBounds()"
          (focusClick)="spotMap.focusSpot(selectedSpot)"
          (saveClick)="spotMap.saveSpot($event)"
        ></app-spot-compact-view>
      </div>
      <div *ngIf="!selectedSpot" class="spots-container">
        <app-spot-preview-card
          *ngFor="let spot of visibleSpots"
          [spot]="spot"
          [infoOnly]="true"
          [clickable]="true"
          (click)="spotMap.openSpot(spot)"
        >
        </app-spot-preview-card>
      </div>
    </app-bottom-sheet>
  </div>

  <!-- Add / import spots speed dial-->
  <app-speed-dial-fab
    *ngIf="!isEditing"
    #createSpotSpeedDial
    id="createSpotSpeedDial"
    [buttonConfig]="speedDialButtonConfig"
    [openOnHover]="true"
    [rotationDegrees]="0"
    (mainFabClick)="spotMap.createSpot()"
    (miniFabClick)="speedDialMiniFabClick($event)"
  ></app-speed-dial-fab>

  <button
    mat-mini-fab
    #mapStyleFab
    id="mapStyleFab"
    (click)="spotMap.toggleMapStyle()"
  >
    <mat-icon aria-label="Button with magnifying lens to search for spots">
      {{ mapStyle === "roadmap" ? "terrain" : "map" }}
    </mat-icon>
  </button>

  <button
    #geolocationFab
    id="geolocationFab"
    mat-fab
    color="primary"
    (click)="spotMap.focusOnGeolocation()"
  >
    <!-- empty location icon is: "location_searching" -->
    <mat-icon>{{
      hasGeolocation ? "my_location" : "location_disabled"
    }}</mat-icon>
  </button>

  <mat-menu #searchUserMatMenu="matMenu">
    <app-user-menu-content></app-user-menu-content>
  </mat-menu>
</div>
