<div class="map-container" *ngIf="mapsService.isApiLoaded$ | async">
  <app-map
    [(zoom)]="mapZoom"
    [center]="mapCenterStart"
    [spots]="visibleSpots"
    [dots]="visibleDots"
    [selectedSpot]="selectedSpot"
    (boundsChange)="boundsChanged($event)"
    (zoomChange)="zoomChanged($event)"
    (mapClick)="mapClick($event)"
    (spotClick)="openSpot($event)"
    (centerChange)="mapCenter = $event"
    [isEditing]="isEditing"
  ></app-map>

  <div class="search-group">
    <mat-form-field
      class="spot-search-field mat-elevation-z3"
      appearance="fill"
    >
      <button
        *ngIf="selectedSpot"
        mat-icon-button
        matSuffix
        [matMenuTriggerFor]="searchUserMatMenu"
        (click)="$event.stopPropagation(); closeSpot()"
      >
        <mat-icon>close</mat-icon>
      </button>
      <mat-icon *ngIf="!selectedSpot" matSuffix>search</mat-icon>

      <input
        matInput
        placeholder="Find spots"
        [value]="selectedSpot ? selectedSpot.name : ''"
      />
      <button
        mat-icon-button
        matSuffix
        color="primary"
        class="profile-icon-button login-fab d-md-none"
        [matMenuTriggerFor]="searchUserMatMenu"
        (click)="$event.stopPropagation()"
      >
        <mat-icon *ngIf="!authService.isSignedIn">person_outline</mat-icon>
        <img
          *ngIf="
            authService.isSignedIn && authService.user?.data?.profilePicture
          "
          [src]="authService.user.data.profilePicture"
        />
      </button>
    </mat-form-field>

    <!-- <app-spot-compact-view
      [@inOutAnimation]
      *ngIf="selectedSpot"
      #spotDetail
      [spot]="selectedSpot"
      [flat]="true"
      [dismissable]="true"
      [infoOnly]="false"
      [editable]="false"
      [(isEditing)]="isEditing"
      (dismiss)="closeSpot()"
      (addBoundsClick)="addBounds()"
      (updateSpotEvent)="getPathsFromSpotPolygon()"
      (focusClick)="focusSpot(selectedSpot)"
      (saveClick)="saveSpot($event)"
    ></app-spot-compact-view> -->

    <app-bottom-sheet
      #bottomSheet
      *ngIf="mapZoom >= 16"
      title="{{ visibleSpots.length }} spot{{
        visibleSpots.length === 1 ? '' : 's'
      }} in this area"
      [hasHeader]="!selectedSpot"
    >
      <div class="spot-preview-container">
        <app-spot-compact-view
          [@inOutAnimation]
          #spotDetail
          *ngIf="selectedSpot"
          [spot]="selectedSpot"
          [flat]="true"
          [dismissable]="false"
          [infoOnly]="false"
          [editable]="true"
          [isEditing]="isEditing"
          (isEditingChange)="$event ? startEdit() : discardEdit()"
          (dismiss)="closeSpot()"
          (addBoundsClick)="addBounds()"
          (updateSpotEvent)="updateSpotPreSave()"
          (focusClick)="focusSpot(selectedSpot)"
          (saveClick)="saveSpot($event)"
        ></app-spot-compact-view>
      </div>
      <div *ngIf="!selectedSpot" class="spots-container">
        <app-spot-preview-card
          *ngFor="let spot of visibleSpots"
          [spot]="spot"
          [infoOnly]="true"
          [clickable]="true"
          (click)="openSpot(spot)"
        >
        </app-spot-preview-card>
      </div>
    </app-bottom-sheet>
  </div>

  <!-- Add / import spots speed dial-->
  <app-speed-dial-fab
    *ngIf="authService.isSignedIn && !isEditing"
    #createSpotSpeedDial
    id="createSpotSpeedDial"
    [buttonConfig]="speedDialButtonConfig"
    [openOnHover]="true"
    [rotationDegrees]="0"
    (mainFabClick)="createSpot()"
    (miniFabClick)="speedDialMiniFabClick($event)"
  ></app-speed-dial-fab>

  <mat-menu #searchUserMatMenu="matMenu">
    <app-user-menu-content></app-user-menu-content>
  </mat-menu>
</div>
