<mat-card
  matRipple
  [matRippleDisabled]="!clickable"
  [class.mat-elevation-z0]="true"
  [class.clickable]="clickable"
  class="mb-2"
  [class.border]="true"
  [class.rounded]="true"
>
  <img *ngIf="spot.previewImage" mat-card-image src="{{ spot.previewImage }}" />
  <mat-card-header>
    <mat-card-title>
      {{ spot.name }}
    </mat-card-title>
    <mat-card-subtitle>
      {{ capitalize(spot.type) }}
      {{ spot.isMiniSpot ? "| Mini-Spot" : "" }}
      <app-rating
        class="float-right"
        *ngIf="spot?.rating"
        [rating]="spot.rating"
        color="accent"
      ></app-rating>
    </mat-card-subtitle>
  </mat-card-header>
</mat-card>
