service cloud.firestore {
  match /databases/{database}/documents {
    match /posts/{post}
    {
      allow read: if true;

      // only authenticated users can create posts and only edit it if it's their post. Also, they can't set the like_count variable.
      allow write: if request.auth.uid != null 
        && request.resource.data.like_count == null 
        && request.auth.uid == request.resource.data.user.uid;

      // match the subcollection likes
      match /likes/{userId} {
        // Only authenticated users can view likes
        allow read: if request.auth.uid != null;

        // Only you can edit your like
        allow create, update: if request.auth.uid == userId
          && request.auth.uid == request.resource.data.user.uid;
        allow delete: if request.auth.uid == userId
      }
    }
    match /spots/{spot}
    {
      allow read: if true;
      allow write: if request.auth.uid != null;
    }
    match /users/{user} 
    {
      allow read, write: if false;
    }
  }
}