service cloud.firestore {
  match /databases/{database}/documents {
    match /posts/{post}
    {
      // every post is publicy available to everyone.
      allow read: if true;

      // only authenticated users can create and edit posts and only create and edit it if it's their post. Also, they can't set the like_count variable.
      allow create, update: if request.auth.uid != null 
        && !('like_count' in request.resource.data) 
        && request.auth.uid == request.resource.data.user.uid;
      allow delete: if request.auth.uid == resource.data.user.uid

      // match the subcollection likes
      match /likes/{userId} {
        // Only authenticated users can view who liked a post
        allow read: if request.auth.uid != null;

        // Only you can edit your like
        allow create, update: if request.auth.uid == userId
          && request.auth.uid == request.resource.data.user.uid;
        allow delete: if request.auth.uid == userId
          && request.auth.uid == resource.data.user.uid;
      }
    }
    match /spots/{spot}
    {
      // all the spots are visible to everyone, authenticated or not
      allow read: if true;

      // TODO: In the future there should be a voting feature for changes on spots.
      // for now every authenticated user can write for every spot.
      allow write: if request.auth.uid != null;
    }
    match /users/{userId} 
    {
      // all users and their profiles are currently public
      allow read: if true;
      // It is not allowed to update the follower_count. This is handled by a cloud function.
      allow write: if request.auth.uid == userId && !('follower_count' in request.resource.data);

      match /following/{otherUserId} {
        // A user can only see and update his own following
        allow read: if request.auth.uid == userId;
        allow write: if request.auth.uid == userId;
      }
      match /followers/{otherUserId} {
        // A user can only see his own followers
        allow read: if request.auth.uid == userId;
        // TODO write cloud function to handle updating followers and remove this permission to write.
        allow write: if request.auth.uid == otherUserId;
      }
    }
  }
}