@import "../../theming/pkfrspot_theme.scss";

button {
  display: flex;
  border: none;
  width: 56px;
  height: 56px;
  border-radius: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: $dark-surface-container-high;
  > mat-icon {
    color: $dark-primary;
  }
}

button.small-variant {
  width: 40px;
  height: 40px;
  border-radius: 12px;
}

button {
  transition: background-color 0.2s, filter 0.2s;
  > mat-icon {
    transition: color 0.2s;
  }

  &.color-primary {
    background-color: $dark-primary-container;
    > mat-icon {
      color: $dark-primary;
    }
  }
  &.color-accent,
  &.color-secondary {
    background-color: $dark-secondary-container;
    > mat-icon {
      color: $dark-secondary;
    }
  }
}

// button.color-tertiary {
//   background-color: $dark-tertiary-container;
//   > mat-icon {
//     color: $dark-tertiary;
//   }
// }

button:hover {
  filter: brightness(108%);
}
button:focus {
  filter: brightness(112%);
}
button:focus:hover {
  filter: brightness(120%);
}
