.profile-picture {
  border-radius: 50%;
  width: 256px;
  max-width: 100%;
}

.alert.alert-danger {
  color: #f44336;
  border-color: #f44336;
  background-color: transparent;
}

::ng-deep
  .mat-form-field.mat-badge.mat-badge-small.mat-badge-above
  > .mat-badge-content {
  top: calc(-8px + 0.25em);
}
