<div
  [@postCollectionAnimation]
  class="collection-container pt-3"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollUpDistance]="1.5"
  [infiniteScrollThrottle]="50"
>
  <h2 *ngIf="title" class="mat-h2">
    {{ title }}
  </h2>
  <button mat-raised-button color="accent" (click)="posts.unshift(posts[0])">
    Add
  </button>
  <button mat-raised-button color="accent" (click)="posts.shift()">
    Remove
  </button>
  <app-post
    [@postAnimation]
    *ngFor="let post of posts"
    [post]="post"
    class="app-post mt-2"
  ></app-post>
  <p
    *ngIf="(!posts || posts.length === 0) && !loading"
    class="noPostsText"
    class="text-center"
  >
    No posts to show
  </p>
  <div class="spinner">
    <mat-spinner *ngIf="loading" color="accent" [diameter]="50"></mat-spinner>
  </div>
</div>
