.spot-container {
  padding: 20px;
}
.spot-container:not(.compact) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: 1fr;
  overflow: hidden;

  > * {
    min-width: 0;
    min-height: 0;
    overflow: hidden;
  }
}
