::ng-deep app-map-page {
  height: 100%;
}

mat-drawer-container {
  background-color: black;

  @media (max-width:599px) 
  {
    height: calc(100% - 56px);
  }
  @media (min-width:600px)
  {
    height: calc(100% - 64px);
  }
}

#drawer {
  border: none;
  background: white;

  padding: 15px;
  width: 20vw;
  min-width: 300px;
  max-width: 400px;

  @media (min-width: 576px) {
    width: 20vw;
    min-width: 300px;
    max-width: 400px;
  }

  @media (max-width: 575px) {
    width: 100%;
    max-width: 100%;
    min-width: auto;
  }
}

#searchFab {
  position: absolute;
  z-index: 2;

  left: 20px;
  top: 20px;
}

#mapStyleFab {
  position: absolute;
  z-index: 2;

  right: 20px;
  top: 20px;
}

#closeDrawerFab {
  float: right;
}

#map {
  height: 100%;
  width: 100%;
}