<mat-drawer-container autosize>
  <mat-drawer
    #startDrawer
    id="startDrawer"
    class="mat-elevation-z0"
    mode="side"
    position="start"
    [opened]="false"
  >
    <mat-tab-group mat-stretch-tabs>
      <!-- Discover Spots tab -->
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">explore</mat-icon>
          <span class="d-none d-sm-block d-md-none d-lg-none d-xl-block">
            Discover
          </span>
        </ng-template>
        <div class="p-3">
          <h2 class="mat-h2 d-flex justify-content-between">
            Discover Spots
            <button
              mat-mini-fab
              class="mat-elevation-z0"
              color="white"
              (click)="startDrawer.close()"
            >
              <mat-icon
                aria-label="Button with magnifying lens to search for spots"
              >
                close
              </mat-icon>
            </button>
          </h2>

          <mat-chip-list
            aria-label="DiscoverLocationOptions"
            (change)="discoverDistanceChipSelected($event)"
          >
            <mat-chip [selectable]="true">5km</mat-chip>
            <mat-chip [selectable]="true">10km</mat-chip>
            <mat-chip [selectable]="true">25km</mat-chip>
            <mat-chip [selectable]="true">50km</mat-chip>
            <mat-chip [selectable]="true">100km</mat-chip>
          </mat-chip-list>

          <h3 class="mat-h3 mt-3 pb-3">Spots around Zürich</h3>

          <button mat-button (click)="loadDiscoverSpots(0, 0)">
            Load spots
          </button>

          <div class="discover-grid">
            <app-spot-card
              *ngFor="let spot of discoverSpots"
              class="w-100 h-100"
              [spot]="spot"
              [infoOnly]="true"
              [clickable]="true"
            ></app-spot-card>
          </div>
        </div>
      </mat-tab>

      <!-- Spots near me tab -->
      <mat-tab disabled>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">radar</mat-icon>
          <span class="d-none d-sm-block d-md-none d-lg-none d-xl-block">
            Near me
          </span>
        </ng-template>
        <div class="p-3">
          <h2 class="mat-h2 d-flex justify-content-between">
            Spots near me
            <button
              mat-mini-fab
              class="mat-elevation-z0"
              color="white"
              (click)="startDrawer.close()"
            >
              <mat-icon
                aria-label="Button with magnifying lens to search for spots"
              >
                close
              </mat-icon>
            </button>
          </h2>
        </div>
      </mat-tab>

      <!-- Spot search tab -->
      <mat-tab disabled>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">search</mat-icon>
          <span class="d-none d-sm-block d-md-none d-lg-none d-xl-block">
            Search
          </span>
        </ng-template>
        <div class="p-3">
          <h2 class="mat-h2 d-flex justify-content-between">
            Search spots
            <button
              mat-mini-fab
              class="mat-elevation-z0"
              color="white"
              (click)="startDrawer.close()"
            >
              <mat-icon
                aria-label="Button with magnifying lens to search for spots"
              >
                close
              </mat-icon>
            </button>
          </h2>
          <div class="d-flex flex-row align-items-top">
            <mat-form-field
              #searchFormField
              id="searchFormField"
              appearance="outline"
            >
              <mat-label>Search spots</mat-label>
              <input matInput type="text" />
            </mat-form-field>
          </div>

          <div id="searchSpotList"></div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-drawer>

  <mat-drawer
    #endDrawer
    id="endDrawer"
    class="mat-elevation-z0"
    mode="side"
    position="end"
    [opened]="!!selectedSpot"
  >
    <div *ngIf="selectedSpot">
      <app-spot-detail
        #spotDetail
        [spot]="selectedSpot"
        [flat]="true"
        [dismissable]="true"
        [infoOnly]="false"
        [editable]="true"
        [(isEditing)]="editingBounds"
        (dismiss)="closeSpot()"
        (addBoundsClick)="addBounds()"
        (callGetPathsPromiseFunction)="getPathsFromSpotPolygon()"
      ></app-spot-detail>
    </div>
  </mat-drawer>

  <agm-map
    #map
    id="map"
    [latitude]="start_coordinates.lat"
    [longitude]="start_coordinates.lng"
    [zoom]="zoom"
    [backgroundColor]="'#000a12'"
    [clickableIcons]="false"
    [disableDefaultUI]="true"
    [fitBounds]="false"
    gestureHandling="'greedy'"
    [mapTypeId]="mapStyle"
    [styles]="mapStylesConfig"
    (mapClick)="clickedMap($event)"
    (boundsChange)="boundsChanged($event)"
    (centerChange)="centerChanged($event)"
    (zoomChange)="zoomChanged($event)"
  >
    <agm-marker
      *ngFor="let dot of visibleDots"
      iconUrl="/assets/icons/favicon-16x16.png"
      [latitude]="dot.location.latitude"
      [longitude]="dot.location.longitude"
      [markerDraggable]="false"
      [opacity]="zoomDotOpacity"
    ></agm-marker>

    <agm-circle
      *ngFor="let spot of visibleSpots"
      [fillColor]="'#304ffe'"
      [latitude]="spot.location.lat"
      [longitude]="spot.location.lng"
      [circleDraggable]="false"
      [strokeWeight]="0"
      [strokeOpacity]="0"
      [radius]="5"
      [visible]="true"
      [fillOpacity]="0.75"
      (circleClick)="openSpot(spot)"
    >
      <agm-polygon
        #polygon
        [paths]="spot.paths"
        [fillColor]="'#304ffe'"
        [strokeColor]="'#304ffe'"
        [fillOpacity]="0.1"
        [editable]="
          editingBounds && spot && selectedSpot && spot.id === selectedSpot.id
        "
        (polyClick)="openSpot(spot)"
      ></agm-polygon>
    </agm-circle>

    <agm-marker
      *ngIf="selectedSpot"
      [agmFitBounds]="true"
      [latitude]="selectedSpot.location.lat"
      [longitude]="selectedSpot.location.lng"
      [title]="selectedSpot.name"
      iconUrl="/assets/icons/marker.png"
      [markerDraggable]="editingBounds"
      [markerClickable]="true"
      (dragEnd)="spotMarkerMoved($event)"
    ></agm-marker>

    <agm-marker
      *ngIf="droppedMarkerLocation"
      #droppedMarker
      id="droppedMarker"
      [latitude]="droppedMarkerLocation.lat"
      [longitude]="droppedMarkerLocation.lng"
      iconUrl="/assets/icons/marker.png"
      [markerDraggable]="true"
      [markerClickable]="true"
    ></agm-marker>
  </agm-map>

  <button
    mat-fab
    #searchFab
    id="searchFab"
    (click)="startDrawer.toggle()"
    [color]="startDrawer.opened ? 'default' : 'accent'"
  >
    <mat-icon aria-label="Button with magnifying lens to search for spots">{{
      startDrawer.opened ? "navigate_before" : "search"
    }}</mat-icon>
  </button>

  <button
    mat-mini-fab
    #mapStyleFab
    color="white"
    id="mapStyleFab"
    (click)="toggleMapStyle()"
  >
    <mat-icon aria-label="Button with magnifying lens to search for spots">
      {{
        mapStyle.toLowerCase() === "ROADMAP".toLowerCase() ? "terrain" : "map"
      }}
    </mat-icon>
  </button>

  <!-- Add / import spots speed dial-->
  <app-speed-dial-fab
    *ngIf="!editingBounds"
    #createSpotSpeedDial
    id="createSpotSpeedDial"
    [buttonConfig]="speedDialButtonConfig"
    [openOnHover]="true"
    [rotationDegrees]="0"
    (mainFabClick)="mainFabClicked()"
    (miniFabClick)="miniFabPressed($event)"
  ></app-speed-dial-fab>
</mat-drawer-container>
