<mat-drawer-container autosize>
  <!-- include google maps API-->
  <script src="https://maps.googleapis.com/maps/api/js?key={{
      GOOGLE_MAPS_API_KEY
    }}"></script>

  <mat-drawer
    #startDrawer
    id="startDrawer"
    class="mat-elevation-z0"
    mode="side"
    position="start"
    [opened]="false"
  >
    <app-discover-spots-view
      (close)="startDrawer.close()"
      (spotClick)="openSpot($event)"
    ></app-discover-spots-view>
  </mat-drawer>

  <mat-drawer
    #endDrawer
    id="endDrawer"
    class="mat-elevation-z0"
    mode="side"
    position="end"
    [opened]="!!selectedSpot"
    (openedChange)="endDrawerOpenedChanged($event)"
  >
    <div *ngIf="selectedSpot">
      <app-spot-compact-view
        #spotDetail
        [spot]="selectedSpot"
        [flat]="true"
        [dismissable]="true"
        [infoOnly]="false"
        [editable]="true"
        [(isEditing)]="isEditing"
        (dismiss)="closeSpot()"
        (addBoundsClick)="addBounds()"
        (callGetPathsPromiseFunction)="getPathsFromSpotPolygon()"
        (focusClick)="focusSpot(selectedSpot)"
        (saveClick)="saveSpot($event)"
        (discardClick)="discardEdit()"
      ></app-spot-compact-view>
    </div>
  </mat-drawer>

  <agm-map
    #map
    id="map"
    [latitude]="start_coordinates.lat"
    [longitude]="start_coordinates.lng"
    [zoom]="zoom"
    [backgroundColor]="'#000a12'"
    [clickableIcons]="false"
    [disableDefaultUI]="true"
    [fitBounds]="false"
    gestureHandling="'greedy'"
    [mapTypeId]="mapStyle"
    [styles]="mapStylesConfig"
    (mapClick)="clickedMap($event)"
    (boundsChange)="boundsChanged($event)"
    (centerChange)="centerChanged($event)"
    (zoomChange)="zoomChanged($event)"
  >
    <agm-marker
      *ngFor="let dot of visibleDots"
      iconUrl="/assets/icons/favicon-16x16.png"
      [latitude]="dot.location.latitude"
      [longitude]="dot.location.longitude"
      [markerDraggable]="false"
      [opacity]="zoomDotOpacity"
    ></agm-marker>

    <agm-circle
      *ngFor="let spot of visibleSpots"
      [fillColor]="'#304ffe'"
      [latitude]="spot.location.lat"
      [longitude]="spot.location.lng"
      [circleDraggable]="false"
      [strokeWeight]="0"
      [strokeOpacity]="0"
      [radius]="5"
      [visible]="true"
      [fillOpacity]="0.75"
      (circleClick)="openSpot(spot)"
    >
      <agm-polygon
        *ngIf="selectedSpot?.hasBounds()"
        #polygon
        [paths]="spot.paths"
        [fillColor]="'#304ffe'"
        [strokeColor]="'#304ffe'"
        [fillOpacity]="0.1"
        [editable]="
          isEditing && spot && selectedSpot && spot.id === selectedSpot.id
        "
        (polyClick)="openSpot(spot)"
      ></agm-polygon>
    </agm-circle>

    <agm-marker
      *ngIf="selectedSpot"
      [agmFitBounds]="true"
      [latitude]="selectedSpot.location.lat"
      [longitude]="selectedSpot.location.lng"
      [title]="selectedSpot.name"
      iconUrl="/assets/icons/marker.png"
      [markerDraggable]="isEditing"
      [markerClickable]="true"
      (dragEnd)="spotMarkerMoved($event)"
    ></agm-marker>
  </agm-map>

  <button
    mat-fab
    #searchFab
    id="searchFab"
    (click)="startDrawer.toggle()"
    [color]="startDrawer.opened ? 'default' : 'accent'"
  >
    <mat-icon aria-label="Button with magnifying lens to search for spots">{{
      startDrawer.opened ? "navigate_before" : "search"
    }}</mat-icon>
  </button>

  <button
    mat-mini-fab
    #mapStyleFab
    color="white"
    id="mapStyleFab"
    (click)="toggleMapStyle()"
  >
    <mat-icon aria-label="Button with magnifying lens to search for spots">
      {{
        mapStyle.toLowerCase() === "ROADMAP".toLowerCase() ? "terrain" : "map"
      }}
    </mat-icon>
  </button>

  <!-- Add / import spots speed dial-->
  <app-speed-dial-fab
    *ngIf="authService.isSignedIn && !isEditing"
    #createSpotSpeedDial
    id="createSpotSpeedDial"
    [buttonConfig]="speedDialButtonConfig"
    [openOnHover]="true"
    [rotationDegrees]="0"
    (mainFabClick)="mainFabClicked()"
    (miniFabClick)="miniFabPressed($event)"
  ></app-speed-dial-fab>
</mat-drawer-container>
