<div class="map-container" *ngIf="mapsService.isApiLoaded$ | async">
  <google-map
    #map
    id="map"
    [center]="start_coordinates"
    [zoom]="start_zoom"
    [options]="mapOptions"
    [mapTypeId]="mapTypeId"
    (mapClick)="clickedMap($event)"
    (boundsChanged)="boundsChanged()"
    (centerChanged)="centerChanged()"
    (zoomChanged)="zoomChanged()"
    width="100%"
    height="100%"
  >
    <map-marker
      *ngFor="let dot of visibleDots"
      [position]="dot"
      [options]="spotDotMarkerOptions"
    ></map-marker>

    <map-circle
      *ngFor="let spot of visibleSpots"
      [center]="spot.location"
      [radius]="10"
      [options]="spotCircleOptions"
      (circleClick)="openSpot(spot)"
    >
      <map-polygon
        *ngIf="spot?.hasBounds()"
        #polygon
        [options]="spotPolygonOptions"
        [paths]="spot.paths"
        (polygonClick)="openSpot(spot)"
      ></map-polygon>
    </map-circle>

    <map-marker
      *ngIf="selectedSpot"
      [options]="selectedSpotMarkerOptions"
      [position]="selectedSpot.location"
      [title]="selectedSpot.name"
    ></map-marker>
  </google-map>

  <div class="search-group">
    <mat-form-field
      class="spot-search-field mat-elevation-z3"
      appearance="fill"
    >
      <input matInput placeholder="Find spots" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <app-spot-compact-view
      *ngIf="selectedSpot"
      #spotDetail
      [spot]="selectedSpot"
      [flat]="true"
      [dismissable]="true"
      [infoOnly]="false"
      [editable]="true"
      [(isEditing)]="isEditing"
      (dismiss)="closeSpot()"
      (addBoundsClick)="addBounds()"
      (callGetPathsPromiseFunction)="getPathsFromSpotPolygon()"
      (focusClick)="focusSpot(selectedSpot)"
      (saveClick)="saveSpot($event)"
      (discardClick)="discardEdit()"
    ></app-spot-compact-view>

    <app-bottom-sheet
      [isOpen]="false"
      title="{{ visibleSpots.length }} spot{{
        visibleSpots.length === 1 ? '' : 's'
      }} in this area"
    >
      Spots go here...
    </app-bottom-sheet>
  </div>

  <button
    mat-mini-fab
    #mapStyleFab
    color="white"
    id="mapStyleFab"
    (click)="toggleMapStyle()"
  >
    <mat-icon aria-label="Button with magnifying lens to search for spots">
      {{ mapOptions.mapTypeId.toLowerCase() === "roadmap" ? "terrain" : "map" }}
    </mat-icon>
  </button>

  <!-- Add / import spots speed dial-->
  <app-speed-dial-fab
    *ngIf="authService.isSignedIn && !isEditing"
    #createSpotSpeedDial
    id="createSpotSpeedDial"
    [buttonConfig]="speedDialButtonConfig"
    [openOnHover]="true"
    [rotationDegrees]="0"
    (mainFabClick)="mainFabClicked()"
    (miniFabClick)="miniFabPressed($event)"
  ></app-speed-dial-fab>
</div>
