$navbar-height: 64px;
$padding: 15px;

.map-container {
  height: calc(100vh - 64px - 2 * 15px);
}

.container-fluid {
  padding: 15px;
  .row,
  .row > * {
    height: 100%;
  }
  height: 100%;
  pointer-events: none;
}

#map {
  position: absolute;
  top:64px;
  bottom:0;
  left:0;
  right:0;
  background: #cccccc;
  border-radius: inherit;
  margin-bottom: 0px;
}

@media (max-width:599px) {
  #map {
    top:56px;
  }
}

mat-card {
  height: 100%;
  pointer-events: all;
}
mat-card.map-card {
  padding: 0px;
}