::ng-deep app-map-page {
  height: 100%;
}

mat-drawer-container {

  @media (max-width:599px) 
  {
    height: calc(100% - 56px);
  }
  @media (min-width:600px)
  {
    height: calc(100% - 64px);
  }
  mat-drawer {
    border: none;
    background: none;

    padding: 10px;
    width: 20vw;
    min-width: 300px;
    max-width: 400px;
  }
}

#desktopDrawer {
  width: 20vw;
  min-width: 300px;
  max-width: 400px;
}

#mobileDrawer {
  width: 100%;
  max-width: 100%;
  min-width: auto;
}

#searchFab {
  position: absolute;
  z-index: 2;

  left: 20px;
  top: 20px;
}

#map {
  height: 100%;
  width: 100%;
}