<google-map
  *ngIf="mapsApiService.isApiLoaded$ | async"
  #googleMap
  id="googleMap"
  [center]="center"
  [zoom]="zoom"
  [options]="mapOptions"
  [mapTypeId]="mapTypeId"
  (mapClick)="mapClick.emit($event)"
  (boundsChanged)="emitBoundsChanged()"
  (centerChanged)="emitCenterChanged()"
  (zoomChanged)="getAndEmitChangedZoom()"
  width="100%"
  height="100%"
>
  <!-- Cluster Heatmap -->
  <!-- <map-heatmap-layer [data]="heatmapData" [options]="heatmapOptions" /> -->

  <!-- Cluster Marker -->
  <map-marker
    *ngFor="let point of dotPoints"
    [position]="point"
    [options]="primaryDotMarkerOptions"
  ></map-marker>

  <map-circle
    *ngFor="let spot of spots"
    [center]="spot.location"
    [radius]="10"
    [options]="spotCircleOptions"
    (circleClick)="spotClick.emit(spot)"
  >
    <map-polygon
      *ngIf="spot?.hasBounds()"
      [id]="'polygon-' + spot.id"
      [options]="
        spot === selectedSpot && isEditing
          ? spotPolygonEditingOptions
          : spotPolygonOptions
      "
      [paths]="spot.paths"
      (polygonClick)="spotClick.emit(spot)"
    ></map-polygon>
  </map-circle>

  <map-marker
    *ngIf="selectedSpot"
    #selectedSpotMarker
    id="selectedSpotMarker"
    [options]="
      isEditing ? selectedSpotMarkerEditingOptions : selectedSpotMarkerOptions
    "
    [position]="selectedSpot.location"
    (mapDragend)="editingSpotPositionChanged($event.latLng)"
    [title]="selectedSpot.name"
  ></map-marker>

  <!-- Geolocation -->
  <map-marker
    *ngIf="geolocation$ | async"
    [position]="(geolocation$ | async).location"
    [options]="geolocationMarkerOptions"
  >
  </map-marker>
  <map-circle
    *ngIf="geolocation$ | async"
    [center]="(geolocation$ | async).location"
    [radius]="(geolocation$ | async).accuracy"
    [options]="geolocationCircleOptions"
  ></map-circle>

  <!-- Markers -->
  <map-marker
    *ngFor="let marker of markers"
    [position]="marker"
    [options]="teriaryDotMarkerOptions"
  ></map-marker>
  <map-marker
    *ngIf="selectedMarker"
    [position]="selectedMarker"
    [options]="tertiaryMarkerOptions"
  ></map-marker>
</google-map>
