<div class="home-page-container">
  <mat-tab-group mat-align-tabs="center" class="home-page-tabs">
    <mat-tab *ngIf="authService.isSignedIn" label="Updates">
      <div class="container p-0">
        <div class="row posts">
          <div
            class="
              col-12 col-md-8
              offset-md-2
              col-lg-6
              offset-lg-3
              text-center
              p-0
            "
          >
            <app-post-collection
              #updateCollection
              [posts]="updatePosts"
              [title]="'Updates'"
              [loading]="loadingUpdates"
            ></app-post-collection>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Top posts">
      <div class="container p-0">
        <div class="row posts">
          <div
            class="
              col-12 col-md-8
              offset-md-2
              col-lg-6
              offset-lg-3
              text-center
              p-0
            "
          >
            <app-post-collection
              [posts]="todaysTopPosts"
              [title]="'Top posts'"
              [loading]="loadingTodaysTopPosts"
            ></app-post-collection>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<button
  *ngIf="authService.isSignedIn"
  mat-fab
  #createFab
  id="createFab"
  (click)="createPost()"
>
  <mat-icon aria-label="Button with pen to create a post">create</mat-icon>
</button>
