mat-drawer-container {
  background: none;
  min-height: calc(100vh - 64px);

  mat-drawer {
    background: none;
    border: none;
    padding: 10px;
    width: 20vw;
    min-width: 100px;

    mat-card {
      height: 100%;
    }
  }
}

mat-tab-group {
  max-width: 100%;
}

.mat-tab-body-wrapper
{
  padding: 15px;
}

.container, .container-fluid {
  height: 100%;
  //overflow: scroll;
}
