.home-page-container {
  @media (max-width: 599px) {
    height: calc(100% - 56px);
  }
  @media (min-width: 600px) {
    height: calc(100% - 64px);
  }
  overflow: hidden;
}

::ng-deep app-home-page {
  height: 100%;
}

::ng-deep mat-dialog-container {
  margin-left: 10px;
  margin-right: 10px;
}

mat-tab-group {
  max-width: 100%;
  height: 100%;
}

.mat-tab-body-wrapper {
  padding: 15px;
}

.container,
.container-fluid {
  height: 100%;
  padding-top: 0px;
}

.row.posts {
  height: 100%;
  margin: 0px;

  .col-md-6 {
    height: 100%;
    padding: 0px;
  }
}

button#createFab {
  position: absolute;
  right: 30px;
  bottom: 30px;
  z-index: 1;
}

button#openFollowingFab {
  position: absolute;
  top: 15px;
  left: 15px;
}

button#openSuggestionsFab {
  position: absolute;
  top: 15px;
  right: 15px;
}

button#closeFollowingDrawerFab {
  float: right;
  margin-right: -15px;
}

button#closeSuggestionsDrawerFab {
  float: left;
  margin-left: -15px;
}
