<mat-drawer-container autosize>
    <mat-drawer #friendDrawer id="friendDrawer" class="mat-elevation-z2 d-none d-md-block"
        mode="side" position="start" opened="true">
        <mat-card>
            <mat-card-title>Friends</mat-card-title>
        </mat-card>
    </mat-drawer>

    <mat-drawer #suggestionDrawer id="suggestionDrawer" class="mat-elevation-z2 d-none d-md-block"
        mode="side" position="end" opened="true">
        <mat-card>
            <mat-card-title>Suggestions</mat-card-title>
        </mat-card>
    </mat-drawer>

    <div class="container-fluid pt-3 d-none d-md-block">
        <div class="row">
            <div class="col-md-6 text-center">
                <h1 class="mat-h2">Updates</h1>
                <app-post-collection [posts]="posts"></app-post-collection>
            </div>
            <div class="col-md-6 text-center">
                <h1 class="mat-h2">Trending</h1>
                <app-post-collection [posts]="posts"></app-post-collection>
            </div>
        </div>
    </div>

    <mat-tab-group mat-stretch-tabs class="d-md-none" mat-align-tabs="center">
        <mat-tab label="Updates">
            <div class="p-3">
                <app-post-collection [posts]="posts"></app-post-collection>
            </div>
        </mat-tab>
        <mat-tab label="Trending">
            <div class="p-3">
                <app-post-collection [posts]="posts"></app-post-collection>
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-drawer-container>