@use "sass:map";
@use "@angular/material" as mat;
@import "../../theming/pkfrspot_theme.scss";

$typography-config: mat.get-typography-config($pkfrspot-dark-theme);

$secondary-container: map.get($mat3-secondary-palette, 30);
$on-secondary-container: map.get($mat3-secondary-palette, 90);
$on-surface: #c8c6ca;
$on-surface-variant: #c6c5d0;

button {
  font-family: mat.font-family($typography-config);
  font-weight: mat.font-weight($typography-config, button);
  font-size: mat.font-size($typography-config, button);
  color: $on-surface;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70px;
  background: transparent;
  border: none;

  > mat-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 16px;
  }
}

button > mat-icon {
  transition: color 0.2s, background-color 0.2s, width 0.2s;
}
button:enabled > mat-icon {
  color: $on-surface-variant;
  background-color: transparent;
}
button.active > mat-icon {
  color: $on-secondary-container;
  background-color: $secondary-container;
}
button:hover > mat-icon,
button:focus > mat-icon,
button.active > mat-icon {
  @media (max-width: 767px) {
    width: 64px;
  }
  @media (min-width: 768px) {
    width: 56px;
  }
}
button:hover > mat-icon {
  color: $on-surface-variant;
  background-color: rgb(256, 256, 256, 0.08);
}
button:focus > mat-icon {
  color: $on-surface-variant;
  background-color: rbg(256, 256, 256, 0.12);
}
button:hover.active > mat-icon {
  color: $on-secondary-container;
  background-color: lighten($secondary-container, 8%);
}
button:focus.active > mat-icon {
  color: $on-secondary-container;
  background-color: lighten($secondary-container, 12%);
}
