<div class="container text-center">
  <!-- <app-page-header title="About"></app-page-header> -->
  <div class="row my-5">
    <div class="col-md-12">
      <h1 class="mat-headline-3 logo">PkFr Spot</h1>
      <h2 class="mat-h1">The spot for Parkour and Freerunning.</h2>
      <h3 class="mat-h2">Discover, Train, Share.</h3>

      <p class="mat-body">
        Discover spots and fellow athletes, plan training sessions with your
        friends and share achievements and memories with them and the world.
      </p>
    </div>
  </div>
  <div class="row mb-5">
    <!-- <div class="col-md-4 mb-4">
      <h4 class="mat-h2">Our Ad policy</h4>
      <p class="mat-body">
        We are currently not serving ads. However, this will likely change in
        the future. This is also reflected in our terms and conditions and
        privacy policy.
      </p>
      <p class="mat-body">
        Our plan is to only have parkour related ads on this platform. It is our
        dream to support Parkour and Freerunning brands, and be supported by
        them.
      </p>
    </div> -->
    <div class="col-md-4 mb-4">
      <h4 class="mat-h2">Open-Source</h4>
      <p class="mat-body">
        This project is Open-Source! Our code is licensed under the
        <b>MIT License</b>.
      </p>
      <div class="d-flex flex-column align-items-center">
        <a
          mat-stroked-button
          color="default"
          href="https://github.com/lukasbuehler/pkfrspot"
          class="link-button mb-2"
        >
          <mat-icon>code</mat-icon>
          Github
        </a>
        <a
          mat-stroked-button
          color="default"
          href="https://github.com/lukasbuehler/pkfrspot/blob/main/LICENSE"
          class="link-button"
        >
          <mat-icon>receipt_long</mat-icon>
          View License
        </a>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <h4 class="mat-h2">Join our Discord!</h4>
      <p class="mat-body">
        We have a Discord for feedback, ideas, bug reports and more! It is also
        the perfect place to start if you want to become a contributor.
      </p>
      <div class="d-flex flex-column align-items-center">
        <a
          mat-stroked-button
          color="default"
          href="https://discord.gg/Th5vx4KnQb"
          class="link-button mb-2"
        >
          <mat-icon>sports_esports</mat-icon>
          Join Discord
        </a>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-12">
      <h2 class="mat-h1 mb-4">Supporters</h2>
      <div class="credit-grid pb-5">
        <div></div>
        <div class="sph-background rounded">
          <a href="https://sph.ethz.ch/">
            <img
              src="/assets/logos/sph.svg"
              title="ETH Student Project House"
              alt="ETH Student Project House"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-12">
      <h2 class="mat-h1 mb-4">Contributors</h2>
      <div class="credit-grid pb-5">
        <div class="mat-card rounded mat-elevation-z0 border p-3">
          <div class="mat-card-title">Lukas Bühler</div>
          <div class="mat-card-content pt-2">Lead developer</div>
          <div
            class="d-flex justify-content-center align-items-center gap-3 pt-3"
          >
            <a href="https://github.com/lukasbuehler">
              <img src="/assets/logos/github.svg" title="Github" alt="Github" />
            </a>
            <a href="https://www.instagram.com/lukasbuehler_">
              <img
                src="/assets/logos/instagram.svg"
                title="Instagram"
                alt="Instagram"
              />
            </a>
            <a href="https://twitter.com/LukasBuehler">
              <img
                src="/assets/logos/x.svg"
                alt="X (Twitter)"
                title="X (Twitter)"
              />
            </a>
            <a href="https://lukasbuehler.ch">
              <mat-icon class="mat-icon-link">language</mat-icon>
            </a>
            <a href="mailto:contact@lukasbuehler.ch">
              <mat-icon class="mat-icon-link">mail</mat-icon>
            </a>
          </div>
        </div>
        <div class="mat-card rounded mat-elevation-z0 border p-3">
          <div class="mat-card-title">Shadi Vandeventer</div>
          <div class="mat-card-content pt-2">Testing</div>
        </div>
        <div class="mat-card rounded mat-elevation-z0 border p-3">
          <div class="mat-card-content pt-2">
            <p>
              Join our community of Parkour and Freerunning enthusiasts!
              Contribute your ideas, report bugs, and provide feedback to help
              us improve this platform together!
            </p>
            <a
              mat-stroked-button
              color="default"
              href="https://discord.gg/Th5vx4KnQb"
              class="link-button mb-2"
            >
              <mat-icon>sports_esports</mat-icon>
              Join Discord
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
