@use "sass:map";

@use "@angular/material" as mat;

@include mat.core();
@include mat.legacy-core(); // TODO remove after removing legacy components

// Material 3 colors

// primary
$primary-palette: (
  0: #000000,
  10: #001453,
  20: #002585,
  30: #0037b9,
  40: #2b51d5,
  50: #496cef,
  60: #6b89ff,
  70: #92a6ff,
  80: #b8c4ff,
  90: #dde1ff,
  95: #efefff,
  99: #fefbff,
  100: #ffffff,
);

// secondary
$secondary-palette: (
  0: #000000,
  10: #012200,
  20: #033900,
  30: #055300,
  40: #246c18,
  50: #3e862f,
  60: #58a147,
  70: #72bd5e,
  80: #8cd977,
  90: #a7f690,
  95: #cbffb7,
  99: #f7ffee,
  100: #ffffff,
);

// tertiary

// error

// neutral
$neutral-palette: (
  0: #000000,
  4: #0e0e11,
  6: #131316,
  10: #1b1b1f,
  12: #1f1f23,
  17: #2a2a2d,
  20: #303034,
  22: #343438,
  24: #39393c,
  //...
  90: #e4e1e6,
  100: #ffffff,
);

// neutral variant
$neutral-variant-palette: (
  0: #000000,
  30: #45464f,
  50: #767680,
  80: #c6c5d0,
  100: #ffffff,
);

// themes

// light theme

// dark theme
$dark-sufrace-dim: map.get($neutral-palette, 6);
$dark-sufrace: map.get($neutral-palette, 6);
$dark-surface-bright: map.get($neutral-palette, 24);
$dark-surface-container-lowest: map.get($neutral-palette, 4);
$dark-surface-container-low: map.get($neutral-palette, 10);
$dark-surfcae-container: map.get($neutral-palette, 12);
$dark-surface-container-high: map.get($neutral-palette, 17);
$dark-surface-container-highest: map.get($neutral-palette, 22);

$dark-on-surface: map.get($neutral-palette, 90);
$dark-on-surface-variant: map.get($neutral-variant-palette, 80);
$dark-outline: map.get($neutral-variant-palette, 60);
$dark-outline-variant: map.get($neutral-variant-palette, 30);

$dark-primary: map.get($primary-palette, 80);
$dark-on-primary: map.get($primary-palette, 20);
$dark-primary-container: map.get($primary-palette, 30);
$dark-on-primary-container: map.get($primary-palette, 90);
$dark-primary-fixed: map.get($primary-palette, 90);
$dark-primray-fixed-dim: map.get($primary-palette, 80);
$dark-on-primary-fixed: map.get($primary-palette, 10);
$dark-on-primary-variant: map.get($primary-palette, 30);

$dark-secondary: map.get($secondary-palette, 80);
$dark-on-secondary: map.get($secondary-palette, 20);
$dark-secondary-container: map.get($secondary-palette, 30);
$dark-on-secondary-container: map.get($secondary-palette, 90);
$dark-secondary-fixed: map.get($secondary-palette, 90);
$dark-secondary-fixed-dim: map.get($secondary-palette, 80);
$dark-on-secondary-fixed: map.get($secondary-palette, 10);
$dark-on-secondary-variant: map.get($secondary-palette, 30);

$dark-inverse-surface: map.get($neutral-palette, 90);
$dark-inverse-on-surface: map.get($neutral-palette, 20);
$dark-inverse-primary: map.get($primary-palette, 40);
$dark-scrim: map.get($neutral-palette, 0);
$dark-shadow: map.get($neutral-palette, 0);

$md-primary: (
  50: #f6f8ff,
  100: #eaedff,
  200: #dce2ff,
  300: #cdd6ff,
  400: #c3cdff,
  500: #b8c4ff,
  600: #b1beff,
  700: #a8b6ff,
  800: #a0afff,
  900: #91a2ff,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-secondary: (
  50: #f1faef,
  100: #ddf4d6,
  200: #c6ecbb,
  300: #afe4a0,
  400: #9ddf8b,
  500: #8cd977,
  600: #84d56f,
  700: #79cf64,
  800: #6fca5a,
  900: #5cc047,
  A100: #ffffff,
  A200: #e9ffe5,
  A400: #beffb2,
  A700: #a9ff98,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-warn: (
  50: #fff6f5,
  100: #ffe9e6,
  200: #ffdad5,
  300: #ffcbc4,
  400: #ffbfb8,
  500: #ffb4ab,
  600: #ffada4,
  700: #ffa49a,
  800: #ff9c91,
  900: #ff8c80,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$my-primary: mat.define-palette($md-primary);
$my-accent: mat.define-palette($md-secondary);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette($md-warn);

$pkfrspot-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);
$pkfrspot-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    ),
    typography:
      mat.define-typography-config(
        $font-family: 'Roboto, "Helvetica Neue", sans-serif',
      ),
    density: 0,
  )
);

$my-typography: mat.define-typography-config();
@include mat.typography-hierarchy($my-typography);

@include mat.all-component-themes($pkfrspot-dark-theme);
@include mat.all-legacy-component-themes(
  $pkfrspot-dark-theme
); // TODO remove after removing legacy components
