mat-card {
  margin: 10px;
  margin-bottom: 30px;
  border-radius: 8px;

  mat-card-header,
  ::ng-deep .mat-card-header-text {
    width: 100%;
    margin: 0;

    mat-card-subtitle {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }

  mat-card-content {
    margin-top: 10px;
  }

  mat-card-actions {
    display: flex;
    align-items: center;
    .button-group {
      margin-right: 10px;
    }
  }

  a {
    text-decoration: underline;
    color: inherit;
  }
}

.spacer {
  flex: 1 1 auto;
}

div.mat-card-video {
  --plyr-color-main: var(--accent-color);
}

::ng-deep div.mat-card-video > div {
  //max-height: 40vh;
}

::ng-deep div.mat-card-video.fill {
  .plyr:not(:fullscreen) video {
    object-fit: cover;
  }
}

div.mat-card-media {
  width: calc(100% + 32px);
  margin: 0 -16px 16px -16px;
  overflow: hidden;
}

::ng-deep div.mat-card-media > div {
  height: 100%;

  .plyr {
    height: 100%;
  }
}

div.mat-card-media > img {
  width: 100%;
}

div.mat-card-video,
.youtube-video-container {
  display: block;
}

.youtube-video-container {
  position: relative;
  padding-bottom: calc(((100% + 32px) / 16) * 9);
  height: 0;
}
.youtube-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

a.spot-container-link {
  text-decoration: none !important;
}
.spot-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  overflow: hidden;

  height: 80px;

  .spot-container-image {
    height: 80px;
    background-color: black;

    img {
      max-height: 100px;
      max-width: 125px;
      height: 100%;
    }
  }

  .spot-container-text {
    padding: 10px;
  }
}

.location-text {
  font-size: 14px;

  a {
    color: rgba(0, 0, 0, 0.54);
    text-decoration: none;
  }
}
