mat-card {
  margin: 5px;

  mat-card-header,
  ::ng-deep .mat-card-header-text {
    width: 100%;
    margin: 0;

    mat-card-subtitle {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }

  mat-card-actions {
    display: flex;
    align-items: center;
    .button-group {
      margin-right: 10px;
    }
  }

  a {
    text-decoration: underline;
    color: inherit;
  }
}

.spacer {
  flex: 1 1 auto;
}
