mat-card {
  margin: 10px;
  margin-bottom: 30px;
  border-radius: 8px;

  mat-card-header,
  ::ng-deep .mat-card-header-text {
    width: 100%;
    margin: 0;

    mat-card-subtitle {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }

  mat-card-actions {
    display: flex;
    align-items: center;
    .button-group {
      margin-right: 10px;
    }
  }

  a {
    text-decoration: underline;
    color: inherit;
  }
}

.spacer {
  flex: 1 1 auto;
}

::ng-deep mat-video .progress {
  background: transparent;
  overflow: visible;

  ::ng-deep mat-seek-progress-control {
    width: 100%;
    overflow: visible;
  }
}

div.mat-card-video,
.youtube-video-container {
  display: block;
  width: calc(100% + 32px);
  margin: 0 -16px 16px -16px;
}

.youtube-video-container {
  position: relative;
  padding-bottom: calc(((100% + 32px) / 16) * 9);
  height: 0;
}
.youtube-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
