<mat-card
  matRipple
  [matRippleDisabled]="!clickable"
  [class.mat-elevation-z0]="true"
  [class.compact]="isCompact"
  [class.clickable]="clickable"
  [class.border]="true"
  [class.rounded]="true"
>
  <mat-card-header class="pb-2">
    <mat-card-title class="text-truncate mw-100 pt-2">
      {{ spotName }}
    </mat-card-title>
    <!-- @if(isCompact) { -->
    <mat-card-subtitle class="d-flex flex-row">
      @if(spot.rating) {
      <span class="d-flex flex-row font-weight-bold align-items-center">
        <mat-icon style="width: 20px; height: 20px; font-size: 20px"
          >star</mat-icon
        >
        {{ spot.rating }}
        <span class="px-1">·</span>
      </span>
      }
      <span class="text-truncate" style="flex-shrink: 1">
        {{ spotLocality }}
      </span>
    </mat-card-subtitle>
    <!-- } -->
  </mat-card-header>
  <!-- <div class="button-row d-flex">
    @if (!visited) {
    <button
      mat-icon-button
      color="accent"
      matTooltip="Bookmark this spot"
      aria-label="Icon button with a bookmark icon"
      (click)="bookmarked = !bookmarked; $event.stopPropagation()"
    >
      <mat-icon>{{ bookmarked ? "bookmark" : "bookmark_border" }}</mat-icon>
    </button>

    }
    <button
      mat-icon-button
      color="primary"
      matTooltip="Mark this spot as visisted"
      aria-label="Icon button with a flag icon"
      (click)="visited = !visited; bookmarked = false; $event.stopPropagation()"
    >
      <mat-icon>{{ visited ? "flag" : "outlined_flag" }}</mat-icon>
    </button>
    <button
      mat-icon-button
      matTooltip="Share this spot"
      aria-label="Icon button with a share icon"
      (click)="shareSpot(); $event.stopPropagation()"
    >
      <mat-icon>share</mat-icon>
    </button>
  </div> -->
  @if(isCompact) { @if(spotImage) {
  <div mat-card-sm-image class="img-container">
    <img [ngSrc]="spotImage" fill />
  </div>
  } } @else {
  <div class="img-container">
    <img
      [ngSrc]="spotImage || 'assets/no_media.png'"
      [alt]="
        spotImage ? 'Image of spot ' + spotName : 'No media for spot' + spotName
      "
      fill
    />
  </div>

  }
</mat-card>
