.logo {
  font-family: "Permanent Marker", cursive;
}

.link-button {
  text-decoration: none;
  width: 80%;
}

.partner-grid {
  display: grid;
  gap: 20px;

  @media (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);
  }
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.credit-grid {
  display: grid;
  gap: 10px;

  @media (max-width: 767px) {
    grid-template-columns: repeat(1, 1fr);
  }
  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

mat-card {
  mat-card-content {
    padding-top: 10px;
  }
}

.mat-icon-link {
  color: white;
  height: 32px;
  width: 32px;
  vertical-align: middle;
  font-size: 32px;
}
