<a routerLink="/sign-in" *ngIf="!authService.isSignedIn" mat-menu-item>
  <mat-icon>login</mat-icon>
  <span>Sign in</span>
</a>
<a *ngIf="!authService.isSignedIn" routerLink="/sign-up" mat-menu-item>
  <mat-icon>person_add</mat-icon>
  <span>Sign up</span>
</a>
<a
  [routerLink]="'/u/' + authService.user?.data?.uid || ''"
  *ngIf="authService.isSignedIn"
  mat-menu-item
>
  <mat-icon>face</mat-icon>
  <span>My Profile</span>
</a>
<button *ngIf="authService.isSignedIn" mat-menu-item [routerLink]="'/settings'">
  <mat-icon>settings</mat-icon>
  <span>Settings</span>
</button>
<button *ngIf="authService.isSignedIn" mat-menu-item (click)="logUserOut()">
  <mat-icon>logout</mat-icon>
  <span>Logout</span>
</button>
