<div class="container text-center">
  <app-page-header title="About"></app-page-header>
  <div class="row mb-5">
    <div class="col-md-12">
      <h1 class="mat-display-3 logo">PkFr Spot</h1>
      <h2 class="mat-h1">A place for Parkour and Freerunning.</h2>
      <h3 class="mat-h2">Discover, Train, Share.</h3>

      <p class="mat-body">
        Here you can discover spots and fellow athletes, plan training sessions
        with your friends and share achievements and memories with them and the
        world.
      </p>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-4 mb-4">
      <h4 class="mat-h2">Our Ad policy</h4>
      <p class="mat-body">
        We are currently not serving ads. However, this will likely change in
        the future. This is also reflected in our terms and conditions and
        privacy policy.
      </p>
      <p class="mat-body">
        Our plan is to only have parkour related ads on this platform. It is our
        dream to support Parkour and Freerunning brands, and be supported by
        them.
      </p>
    </div>
    <div class="col-md-4 mb-4">
      <h4 class="mat-h2">Open-Source</h4>
      <p class="mat-body">
        This project is completely Open-Source! Our code is licensed under the
        <b>MIT License</b>.
      </p>
      <div class="d-flex flex-column align-items-center">
        <a
          mat-stroked-button
          color="default"
          href="https://github.com/lukasbuehler/pkfrspot"
          class="link-button mb-2"
        >
          <mat-icon>code</mat-icon>
          Github
        </a>
        <a
          mat-stroked-button
          color="default"
          href="https://github.com/lukasbuehler/pkfrspot/blob/main/LICENSE"
          class="link-button"
        >
          <mat-icon>receipt_long</mat-icon>
          View License
        </a>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <h4 class="mat-h2">Join our Discord!</h4>
      <p class="mat-body">
        We have a Discord for feedback, ideas, bug reports and more! It is also
        the perfect place to start if you want to become a contributor.
      </p>
      <div class="d-flex flex-column align-items-center">
        <a
          mat-stroked-button
          color="default"
          href="https://discord.gg/6v4mdtbg8m"
          class="link-button mb-2"
        >
          <mat-icon>sports_esports</mat-icon>
          Join Discord
        </a>
      </div>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-12">
      <h2 class="mat-display-1 mb-4">Credits</h2>
      <div class="credit-grid pb-5">
        <div></div>
        <div class="mat-card rounded mat-elevation-z0 border p-3">
          <div class="mat-card-title">Lukas Bühler</div>
          <div class="mat-card-content">Lead developer</div>
        </div>
        <div></div>
        <div></div>
        <div class="mat-card rounded mat-elevation-z0 border p-3">
          <div class="mat-card-content">
            Become a contributor! Join our Discord.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
