<div class="container">
  <app-page-header title="About"></app-page-header>
  <div class="row">
    <div class="md-col-12">
      <h2>What is "The PKFR Spot"?</h2>
      <p class="mat-body">
        We aim to be the spot for all PKFR things. We are integrating lots of
        different features and capabilities into this website to make it a great
        tool for freerunners and traceurs. We want to provide a hub to let
        freerunners share media, scout locations, plan sessions and grow as a
        community.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="md-col-12">
      <h4>Is there a catch?</h4>
      <p class="mat-body">
        Well, we are running ads. But we are planning to collaborate with
        parkour brands and gyms to only show you relevant PKFR-related ads.
      </p>
      <p class="mat-body">
        Also, maybe we will be accepting donations in the future for future
        projects, like an app, for example.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="md-col-12">
      <h4>Our source code is public</h4>
      <p class="mat-body">
        All our source code is public and available on GitHub.
      </p>
      <a
        mat-raised-button
        color="accent"
        href="https://github.com/lukasbuehler/pkfrspot"
        class="mb-5"
      >
        PKFR Spot on GitHub
      </a>
    </div>
  </div>
  <div class="row">
    <div class="md-col-12">
      <h2>About <strike>the team</strike> <b> me</b></h2>
      <p class="mat-body">
        At the moment, this platform is developed soley by me.
      </p>
      <p class="mat-body">
        Allow me to introduce myself. I am Lukas Bühler. I'm from Switzerland
        and I'm a student at ETH Zurich. I am very passionate about parkour and
        freeruning and have been practising the sport since 2 years. I am
        working on this project in my free time.
      </p>
      <p class="mat-body">
        If you are a web-developer yourself and want to contribute on this
        project, please contact me via E-mail.
      </p>
      <a
        mat-raised-button
        color="primary"
        class="mb-5"
        href="mailto:contact@lukasbuehler.ch"
        >Mail to: contact@lukasbuehler.ch</a
      >
    </div>
  </div>
</div>
