<div class="kml-import-page-container">
  <div class="container">
    <div class="row">
      <div class="col-md-12 pt-5 pb-3">
        <h1 class="mat-headline-4 text-center">Spot Import from KML</h1>
        <p class="mat-body">
          Here you can upload KML files to transfer spots to PKFR Spot for free.
          Anyone can then see, share and review the uploaded spots.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <mat-horizontal-stepper
          [linear]="true"
          #stepperHorizontal
          color="primary"
        >
          <!-- Icon overrides -->
          <ng-template matStepperIcon="select">
            <mat-icon>description</mat-icon>
          </ng-template>
          <ng-template matStepperIcon="setup">
            <mat-icon>settings</mat-icon>
          </ng-template>
          <ng-template matStepperIcon="import">
            <mat-icon>add</mat-icon>
          </ng-template>
          <ng-template matStepperIcon="verify">
            <mat-icon>where_to_vote</mat-icon>
          </ng-template>
          <ng-template matStepperIcon="save">
            <mat-icon>publish</mat-icon>
          </ng-template>
          <ng-template matStepperIcon="done">
            <mat-icon>done</mat-icon>
          </ng-template>

          <!-- Steps -->
          <!-- Select step -->
          <mat-step
            [stepControl]="uploadFormGroup"
            [editable]="false"
            state="select"
          >
            <ng-template matStepLabel
              ><span class="d-none d-md-block">Select</span></ng-template
            >
            <form class="pt-3 px-3" [formGroup]="uploadFormGroup">
              <h3 class="mat-h3">Please select a KML file.</h3>
              <app-upload-media-ui
                (uploadMedia)="onUploadMediaSelect($event)"
                [allowedMimeTypes]="[
                  'application/xml',
                  'text/xml',
                  'application/vnd.google-earth.kml+xml'
                ]"
                acceptString=".kml, .xml"
                required
              ></app-upload-media-ui>
              <div class="mt-5">
                <button
                  mat-raised-button
                  color="accent"
                  class="float-right"
                  [disabled]="!kmlUploadFile"
                  (click)="continueToSetup()"
                >
                  Continue to setup
                </button>
              </div>
            </form>
          </mat-step>

          <!-- Setup step -->
          <mat-step
            [stepControl]="setupFormGroup"
            [editable]="false"
            state="setup"
          >
            <ng-template matStepLabel
              ><span class="d-none d-md-block">Import Setup</span></ng-template
            >
            <form class="px-3" [formGroup]="setupFormGroup">
              <div class="container d-lg-block mt-3">
                <div class="row">
                  <div class="col-md-6">
                    <div class="kml-preview" *ngIf="kmlSetupInfo">
                      <h2 class="mat-h2">Preview</h2>
                      <div class="px-3">
                        <h3 class="mat-h3">
                          <b>{{ kmlSetupInfo.name }}</b>
                        </h3>
                        <p class="mat-body">
                          {{ kmlSetupInfo.description }}
                        </p>
                        <p class="mat-body">
                          <b>{{ kmlSetupInfo.spotCount }} Spots</b> accross
                          <b>{{ kmlSetupInfo.folders.length }} folders</b>.
                        </p>
                      </div>
                    </div>

                    <h2 class="mat-h2">Import Settings</h2>
                    <mat-form-field class="w-100" appearance="outline">
                      <mat-label>Language</mat-label>
                      <input
                        type="text"
                        matInput
                        formControlName="setupLangCtrl"
                        [matAutocomplete]="auto"
                        required
                      /><mat-autocomplete #auto="matAutocomplete">
                        <mat-option
                          *ngFor="let lang of languages"
                          [value]="lang"
                        >
                          {{ lang }}
                        </mat-option>
                      </mat-autocomplete>
                      <mat-icon
                        matSuffix
                        matTooltip="The language of the spot names"
                        >help_outline</mat-icon
                      >
                    </mat-form-field>

                    <div class="mt-2">
                      <mat-slide-toggle
                        #regexToggle
                        color="accent"
                        [checked]="false"
                        >RegEx for Spot name</mat-slide-toggle
                      >

                      <mat-form-field class="w-100 py-3" appearance="outline">
                        <mat-label>Name RegEx</mat-label>
                        <app-regex-input
                          #regex
                          formControlName="setupRegexCtrl"
                          flagsString="gim"
                          [disabledFlags]="true"
                          [disabled]="!regexToggle.checked"
                          [value]="{
                            regularExpression: '([^-]*)$',
                            expressionFlags: 'gim'
                          }"
                        ></app-regex-input>
                        <mat-icon
                          matSuffix
                          matTooltip="You can provide a regular expression that will be applied to every imported spot name. The first capturing group will be used as the new spot name. Spot names that don't produce any matches will need to be checked by you on step 4. Visit https://regexr.com/ for help."
                          >help_outline</mat-icon
                        >
                        <mat-hint *ngIf="!regex.errorState && !regex.disabled"
                          >The first capturing group is used as the spot
                          name.</mat-hint
                        >
                        <mat-error *ngIf="regex.errorState">{{
                          regex.getErrorMessage()
                        }}</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <h2 class="mat-h2">Folders to import</h2>
                    <span
                      *ngIf="kmlSetupInfo && kmlSetupInfo.folders"
                      class="example-list-section"
                    >
                      <ul class="checkbox-list">
                        <li *ngFor="let folder of kmlSetupInfo.folders">
                          <mat-checkbox
                            *ngIf="folder"
                            color="accent"
                            [checked]="true"
                          >
                            {{ folder.name }} ({{ folder.spotCount }} Spots)
                          </mat-checkbox>
                        </li>
                      </ul>
                    </span>
                    <p
                      *ngIf="!kmlSetupInfo || !kmlSetupInfo.folders"
                      class="mat-body"
                    >
                      No folders in KML file.
                    </p>
                  </div>
                </div>
              </div>

              <div class="mt-3 d-flex flex-row justify-content-between">
                <button mat-flat-button class="float-left" matStepperPrevious>
                  Back
                </button>
                <button
                  mat-flat-button
                  class="float-right"
                  color="accent"
                  matStepperNext
                  [disabled]="setupFormGroup.invalid || regex.errorState"
                >
                  Import Spots
                </button>
              </div>
            </form>
          </mat-step>

          <mat-step [editable]="false" state="verify">
            <ng-template matStepLabel
              ><span class="d-none d-md-block">Verify</span></ng-template
            >
            <div class="row">
              <div class="col-md-5 verify-acc-col">
                <mat-accordion>
                  <mat-expansion-panel class="mat-elevation-z0">
                    <mat-expansion-panel-header>
                      <mat-panel-title> Spots to be imported </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                      <div>Spot 1</div>
                      <div>Spot 2</div>
                    </div>
                  </mat-expansion-panel>
                  <mat-divider></mat-divider>
                  <mat-expansion-panel class="mat-elevation-z0">
                    <mat-expansion-panel-header>
                      <mat-panel-title>Will not be imported</mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                      <div>Spot 1</div>
                      <div>Spot 2</div>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
              <div class="col-md-7">
                <div class="p-2">
                  <h3 class="mat-h2">Spot name</h3>
                  <p>Folder: Folder name</p>
                  <div class="map-container">
                    <app-map></app-map>
                  </div>
                </div>
              </div>
            </div>
            <div class="pt-3 d-flex flex-row justify-content-between">
              <button mat-button matStepperPrevious>Back</button>
              <button
                mat-button
                matStepperNext
                color="primary"
                [disabled]="true"
              >
                Save
              </button>
            </div>
          </mat-step>
          <mat-step [editable]="false" state="save">
            <ng-template matStepLabel
              ><span class="d-none d-md-block">Save</span></ng-template
            >
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </mat-step>
          <mat-step [editable]="false" state="done">
            <ng-template matStepLabel
              ><span class="d-none d-md-block">Done</span></ng-template
            >
            <p>You are now done.</p>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button (click)="stepperHorizontal.reset()">
                Reset
              </button>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </div>
    </div>
  </div>
</div>
