.kml-import-page-container {
  @media (max-width: 599px) {
    height: calc(100% - 56px);
  }
  @media (min-width: 600px) {
    height: calc(100% - 64px);
  }
}

ul.checkbox-list {
  list-style-type: none;
  margin-top: 4px;
  padding-left: 0px;
}

.helpIcon {
  vertical-align: top;
  margin-left: 5px;
}

::ng-deep .mat-step-header {
  border-radius: 15px;
}
