div.nav-rail-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: stretch;

  > button {
    margin-bottom: 14px;
  }

  ::ng-deep app-nav-rail-content {
    width: 100%;
    height: 100%;
  }
}
