<!-- <mat-progress-bar
  *ngIf="isSaving"
  color="accent"
  mode="indeterminate"
></mat-progress-bar> -->

<mat-menu #navUserMenu="matMenu">
  <button mat-menu-item>
    <span>en_US</span>
  </button>
  <button mat-menu-item>
    <span>de_DE</span>
  </button>
  <button mat-menu-item>
    <span>de_CH</span>
  </button>
</mat-menu>

<mat-card
  matRipple
  [matRippleDisabled]="!clickable"
  [class.mat-elevation-z0]="flat"
  [class.clickable]="clickable"
>
  @if(!isEditing) {
  <mat-card-header class="pb-2">
    <mat-card-title>
      {{ spot.name }}
    </mat-card-title>
    <mat-card-subtitle>
      @if(spot.type && spot.type !== "other") {
      <mat-chip class="me-1">{{ capitalize(spot.type) }}</mat-chip>
      } @if(spot.area && spot.area !== "other") {
      <mat-chip [color]="spot.area === 'private' ? 'warn' : ''">{{
        capitalize(spot.area)
      }}</mat-chip>
      }
    </mat-card-subtitle>

    <!-- Icon buttons in header -->
    <div class="spot-button-row" *ngIf="!isEditing">
      @if(authenticationService.isSignedIn) { @if (!visited) {
      <button
        mat-icon-button
        color="accent"
        matTooltip="Bookmark this spot"
        aria-label="Icon button with a bookmark icon"
        (click)="bookmarked = !bookmarked; $event.stopPropagation()"
      >
        <mat-icon>{{ bookmarked ? "bookmark" : "bookmark_border" }}</mat-icon>
      </button>

      }
      <button
        mat-icon-button
        color="primary"
        matTooltip="Mark this spot as visited"
        aria-label="Icon button with a flag icon"
        (click)="
          visited = !visited; bookmarked = false; $event.stopPropagation()
        "
      >
        <mat-icon>{{ visited ? "flag" : "outlined_flag" }}</mat-icon>
      </button>
      }
      <button
        mat-icon-button
        matTooltip="Share this spot"
        aria-label="Icon button with a share icon"
        (click)="shareSpot(); $event.stopPropagation()"
      >
        <mat-icon>share</mat-icon>
      </button>
    </div>
  </mat-card-header>
  }
  <mat-card-content>
    @if(!isEditing) {
    <!-- spot media carousel  -->
    @if(spot.media && spot.media.length > 0) {
    <app-img-carousel class="mb-2 mt-1" [media]="spot.media">
    </app-img-carousel>
    }

    <!-- <swiper-container
      class="spot-media-swiper"
      *ngIf="spot.media && spot.media.length > 0"
      [navigation]="true"
      [pagination]="{ clickable: true }"
    >
      <swiper-slide *ngFor="let mediaObj of spot.media"
        ><img
          *ngIf="mediaObj.type === 'image'"
          src="{{ mediaObj.src }}"
          class="spot-img"
        />
      </swiper-slide>
    </swiper-container> -->

    <!-- Spot Description -->
    <div *ngIf="spot.description">
      <h4 class="mat-body-2">Description</h4>
      <p>
        {{ spot.description }}
      </p>
    </div>

    <!-- Location -->
    <div>
      <h4 class="mat-body-2">Location</h4>
      <p>
        {{ spot.getReadableLocation() }}
      </p>
    </div>

    <!-- Spot Address -->
    <!-- <div *ngIf="spot.address?.country">
      <h4 *ngIf="spot.address?.formatted" class="mat-body-2">Address</h4>
      <p>{{ spot.address.formatted }}</p>
      <h4 class="mat-body-2">Country</h4>
      <p>
        {{ getCountryEmojiFromAlpha2(spot.address.country.short) }}
        {{ getCountryNameFromShortCode(spot.address.country.short) }}
      </p>
    </div> -->

    <div class="d-flex justify-start pb-2">
      <button
        mat-stroked-button
        color="primary"
        matTooltip="Open in maps"
        aria-label="Example icon button with an open in icon"
        (click)="openSpotInMaps()"
      >
        Open in maps
      </button>
    </div>

    <!-- Action buttons -->
    @if(authenticationService.isSignedIn) {
    <div class="d-flex mb-3 mt-3 gap-2">
      <button
        mat-stroked-button
        matTooltip="Edit this spot"
        aria-label="Example icon button with a share icon"
        (click)="editButtonClick()"
        class="flex-grow-1 flex-basis-0"
      >
        Edit
      </button>
      <button
        mat-stroked-button
        color="warn"
        matTooltip="Report this spot"
        aria-label="Example icon button with a share icon"
        class="flex-grow-1 flex-basis-0"
      >
        Report
      </button>
    </div>
    } } @else {
    <!-- Spot title editing field -->
    <form>
      <mat-form-field style="width: 100%">
        <mat-label>Spot name</mat-label>
        <input
          #spotNameInput
          matInput
          [value]="spot?.name || ''"
          (change)="spot.name = $event.target.value"
        />
      </mat-form-field>
    </form>

    <!-- Media preview grid -->
    <app-media-preview-grid
      [media]="spot.media"
      (mediaChanged)="mediaChanged($event)"
    ></app-media-preview-grid>

    <!-- Image upload  -->
    <div class="upload-spot-image-box">
      <app-upload-media-ui
        [allowedMimeTypes]="['image/jpg', 'image/jpeg', 'image/png']"
        (uploadMedia)="setSpotImage($event)"
      >
      </app-upload-media-ui>
      <button
        mat-flat-button
        (click)="uploadImage()"
        [disabled]="!newSpotImage"
        class="mt-2"
        color="accent"
      >
        Upload Spot Image
      </button>
    </div>

    <!-- Edit spot form -->
    <mat-form-field style="width: 100%">
      <mat-label>Spot type</mat-label>
      <mat-select
        [value]="spot?.type"
        (selectionChange)="spot.type = $event.value"
      >
        <mat-option *ngFor="let type of spotTypes" [value]="type">
          {{ capitalize(type) }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field style="width: 100%">
      <mat-label>Spot area</mat-label>
      <mat-select
        [value]="spot?.area"
        (selectionChange)="spot.area = $event.value"
      >
        <mat-option *ngFor="let area of spotAreas" [value]="area">
          {{ capitalize(area) }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field style="width: 100%">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        placeholder="Description of the spot, its features and more..."
        [value]="spot?.description || ''"
        (change)="spot.description = $event.target.value"
      ></textarea>
    </mat-form-field>

    <div class="my-3 d-flex justify-start">
      <button
        mat-stroked-button
        *ngIf="spot.id && !hasBounds()"
        (click)="addBoundsClicked()"
      >
        Add bounds
      </button>
    </div>
    }
  </mat-card-content>
  @if(isEditing) {
  <mat-card-actions class="mt-3 gap-2">
    <button
      mat-stroked-button
      color="warn"
      *ngIf="editable"
      (click)="discardButtonClick()"
      class="flex-grow-1 flex-basis-0"
    >
      Discard changes
    </button>
    <button
      mat-stroked-button
      color="primary"
      *ngIf="editable"
      (click)="saveButtonClick()"
      class="flex-grow-1 flex-basis-0"
    >
      Save changes
    </button>
  </mat-card-actions>
  }
</mat-card>
