:host {
  background-color: transparent !important;
  pointer-events: none !important;
  position: relative;
  overflow: hidden;
  border-radius: 0px !important;
}

$handle-region-height: 30px;
$sheet-header-height: calc(72px + $handle-region-height);

div.sheet {
  z-index: 3;
  border-radius: 28px 28px 0px 0px !important;
  position: absolute;

  height: 100%;
  width: 100%;

  pointer-events: visible;
  background-color: #2a2a2d;
  //border-radius: 28px 28px 0px 0px;

  > * {
    position: relative;
  }

  > div.header:not(.headless) {
    padding: 20px;
    padding-top: 0px;
    height: $sheet-header-height;
  }
  > div.content {
    overflow-y: scroll;
    // border-top: solid 1px #4a4a4f2f;
  }
  > div.content:not(.headless) {
    // border-top: #4a4a4f solid 1px;
    height: calc(100% - 80px);
  }
  > div.content.headless {
    height: calc(100% - $handle-region-height);
  }
}

div.handle-region {
  height: $handle-region-height;
  display: flex;
  justify-content: center;
  align-items: center;
  > div.handle {
    height: 6px;
    width: 50px;
    background-color: #4a4a4f;
    border-radius: 3px;
  }
}
