:host {
  flex-grow: 1;
  background-color: transparent !important;
  pointer-events: none !important;
  position: relative;
  overflow: hidden;
  border-radius: 0px !important;
}

$handle-region-height: 30px;
$sheet-header-height: calc(72px + $handle-region-height);

div.sheet-region {
  position: absolute;
  background-color: transparent;
  height: calc(200% - $sheet-header-height);
  display: flex;
  flex-direction: column;

  top: 0;
  left: 0;
  right: 0;
  bottom: calc(-100% + $sheet-header-height);

  > div.spacer-large,
  > div.spacer-small {
    //background-color: #ffffff4b;
    position: relative;
  }
  > div.spacer-large:not(.half-spacer) {
    height: calc(50% - $sheet-header-height / 2);
  }
  > div.spacer-large.half-spacer,
  div.half-spacer:last-child {
    height: calc(35% - $sheet-header-height / 4);
  }
  > div.spacer-small.half-spacer {
    height: calc(15% - $sheet-header-height / 4);
  }
}

div.sheet,
.cdk-drag-preview {
  z-index: 3;
  border-radius: 28px 28px 0px 0px !important;
  position: relative;

  height: calc(50% + $sheet-header-height / 2);

  pointer-events: visible;
  background-color: #2a2a2d;
  //border-radius: 28px 28px 0px 0px;

  > div {
    position: relative;
  }

  > div.header:not(.headless) {
    padding: 20px;
    padding-top: 0px;
    height: $sheet-header-height;
  }
  > div.content {
    overflow-y: scroll;
    // border-top: solid 1px #4a4a4f2f;
  }
  > div.content:not(.headless) {
    // border-top: #4a4a4f solid 1px;
    height: calc(100% - 80px);
  }
  > div.content.headless {
    height: calc(100% - $handle-region-height);
  }
}

div.handle-region {
  height: $handle-region-height;
  display: flex;
  justify-content: center;
  align-items: center;
  > div.handle {
    height: 6px;
    width: 50px;
    background-color: #4a4a4f;
    border-radius: 3px;
  }
}
div.handle-region:hover {
  > div.handle {
    outline: white solid 1px;
  }
}

.cdk-drag-placeholder {
  opacity: 0;
  height: $handle-region-height !important; /* this is a hack to allow the 
  sheet to close again, since a full-size placeholder would prevent dropping 
  onto a spacer */
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.sheet-region.cdk-drop-list-dragging .sheet:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
