@if(!isEmbedded()) {
<app-nav-rail-container>
  <app-nav-rail class="mat-elevation-z3 d-none d-md-block">
    <a
      routerLink="/"
      class="d-none d-md-block text-decoration-none text-center text-light text-wrap p-2 {{
        navbarConfig.logo.class
      }}"
      >{{ navbarConfig.logo.text }}</a
    >
    @for (button of navbarConfig.buttons; track button) {
    <a [routerLink]="button.link">
      <app-mat3-nav-button
        [icon]="button.icon"
        [label]="button.name"
      ></app-mat3-nav-button>
    </a>
    }
    <div class="spacer"></div>
    <app-mat3-nav-button
      [matMenuTriggerFor]="langMenu"
      icon="language"
      i18n-label="
        Language button label|The label of the change language
        button@@lang_btn_label"
      label="Language"
    ></app-mat3-nav-button>
  </app-nav-rail>
  <app-nav-rail-content class="flex-col">
    <!-- This is where the pages content gets displayed -->
    <div class="main-content flex-grow-1">
      <router-outlet></router-outlet>
    </div>

    @if(!alainMode) {
    <!-- Bottom navigation bar -->
    <mat-toolbar class="d-md-none mat-elevation-z1">
      @for (button of navbarConfig.buttons; track button){
      <a [routerLink]="button.link">
        <app-mat3-nav-button
          [icon]="button.icon"
          [label]="button.name"
        ></app-mat3-nav-button
      ></a>
      }
      <app-mat3-nav-button
        [matMenuTriggerFor]="langMenu"
        icon="language"
        i18n-label="
          Language button label|The label of the change language
          button@@lang_btn_label"
        label="Language"
      ></app-mat3-nav-button>
    </mat-toolbar>
    } @else {
    <!-- Menu button -->
    <button
      mat-fab
      [matMenuTriggerFor]="mainMenu"
      id="alainMenuButton"
      color="primary"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #mainMenu="matMenu">
      @for(button of navbarConfig.buttons; track button) {
      <a [routerLink]="button.link">
        <button mat-menu-item>
          <mat-icon>{{ button.icon }}</mat-icon>
          <span>{{ button.name }}</span>
        </button>
      </a>
      }
      <button mat-menu-item [matMenuTriggerFor]="langMenu">
        <mat-icon>language</mat-icon>
        <span
          i18n="
            Language button label|The label of the change language
            button@@lang_btn_label"
          >Language</span
        >
      </button>
    </mat-menu>
    }

    <!-- Language menu -->
    <mat-menu #langMenu="matMenu">
      @for(language of languages; track language ) {
      <a mat-menu-item [href]="language.url">{{ language.name }}</a>
      }
    </mat-menu>

    <!-- User FAB -->
    <button
      mat-fab
      color="primary"
      class="profile-icon-button login-fab d-none d-md-block"
      [matMenuTriggerFor]="navUserMenu"
    >
      @if (!authService.isSignedIn) {
      <mat-icon>person_outline</mat-icon>
      }
      <img
        *ngIf="authService.isSignedIn && authService.user?.data?.profilePicture"
        [ngSrc]="
          storageService.getSpotMediaURL(
            authService.user.data.profilePicture,
            200
          )
        "
        width="56"
        height="56"
      />
    </button>

    <mat-menu #navUserMenu="matMenu">
      <app-user-menu-content></app-user-menu-content>
    </mat-menu>
  </app-nav-rail-content>
</app-nav-rail-container>
} @else {
<div class="d-flex flex-column h-100">
  <div
    class="w-100 text-center d-flex align-items-center justify-content-center flex-shrink-1"
    style="height: 60px"
  >
    <a
      href="https://pkfrspot.com"
      class="d-none d-md-block text-decoration-none text-center text-light text-wrap p-2 {{
        navbarConfig.logo.class
      }}"
      >{{ navbarConfig.logo.text }}</a
    >
  </div>
  <div class="flex-grow-1">
    <router-outlet></router-outlet>
  </div>
</div>
}
