<mat-card
  *ngIf="post"
  class="text-left border rounded mat-elevation-z0"
  ng-class="{mat-elevation-z0: !showCard}"
>
  <mat-card-header>
    <mat-card-title>{{ post.title }}</mat-card-title>
    <mat-card-subtitle>
      <span>
        <a routerLink="/u/{{ post.user.uid }}">{{
          post.user.display_name || "A Traceur"
        }}</a>
      </span>
      <span>{{ timeAgoString }}</span></mat-card-subtitle
    >
  </mat-card-header>

  <!-- Media display -->
  <div
    *ngIf="post.mediaSrc"
    #matCardMedia
    id="matCardMedia"
    class="mat-card-media"
    (resized)="onResized($event)"
  >
    <img
      *ngIf="post.mediaSrc && post.mediaIsImage"
      src="{{ post.mediaSrc }}"
      [alt]="post.title + ' Image'"
    />
    <vg-player
      #videoPlayer
      *ngIf="!post.mediaIsImage && post.mediaSrc"
      class="mat-card-video fill"
    >
      <video [vgMedia]="media" #media id="singleVideo" preload="auto" controls>
        <source [src]="post.mediaSrc" type="video/mp4" />
      </video>
    </vg-player>
    <div *ngIf="false" class="youtube-video-container">
      <iframe
        title="YouTube Embed"
        src="https://www.youtube.com/embed/Z6ri_jm0bYA"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>

  <!-- Location display -->
  <span *ngIf="post.location" class="location-text">
    <a
      [routerLink]="
        '/map?lat=' + post.location.lat + '&lng=' + post.location.lng + '&z=19'
      "
      >{{ getLocationDisplayCoordinates(post.location) }}</a
    >
  </span>

  <!-- Spot display -->
  <a
    class="spot-container-link"
    *ngIf="post.spot && (post.spot?.ref || post.spot?.spot_location)"
    [routerLink]="
      post.spot?.ref
        ? '/map/' + post.spot?.ref?.id
        : '/map?lat=' +
          post.spot.spot_location.latitude +
          '&lng=' +
          post.spot.spot_location.longitude +
          '&z=19'
    "
  >
    <div class="spot-container border rounded">
      <div class="spot-container-image">
        <img [src]="post.spot.image_src" alt="" />
      </div>

      <div class="spot-container-text">
        <h5>{{ post.spot.name }}</h5>
        <span>{{
          post.spot?.spot_location
            ? getLocationDisplayCoordinates({
                lat: post.spot.spot_location.latitude,
                lng: post.spot.spot_location.longitude
              })
            : ""
        }}</span>
      </div>
    </div>
  </a>

  <mat-card-content class="text-left">{{ post.body }}</mat-card-content>
  <mat-card-actions>
    <div class="mr-2">
      <button mat-icon-button (click)="likeButtonPress(post)">
        <mat-icon [color]="likedByUser ? 'primary' : ''"> thumb_up </mat-icon>
      </button>
      <strong class="mat-b"
        ><app-fancy-counter [number]="post.likeCount || 0"></app-fancy-counter
      ></strong>
    </div>

    <div *ngIf="false" class="mr-2">
      <button mat-icon-button>
        <mat-icon>comment</mat-icon>
      </button>
      <span>{{ post.commentCount || 0 }}</span>
    </div>

    <button *ngIf="false" mat-icon-button>
      <mat-icon>share</mat-icon>
    </button>

    <div class="spacer"></div>

    <button mat-icon-button [matMenuTriggerFor]="postMenu">
      <mat-icon>more_horiz</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>

<mat-menu #postMenu="matMenu">
  <button mat-menu-item>
    <mat-icon>info</mat-icon>
    <span>More Information</span>
  </button>
  <button *ngIf="post.location || post.spot" mat-menu-item routerLink="/map">
    <mat-icon>place</mat-icon>
    <span>Open on Map</span>
  </button>
  <button
    *ngIf="
      currentlyAuthenticatedUserId &&
      post.user.uid !== currentlyAuthenticatedUserId
    "
    mat-menu-item
  >
    <mat-icon>report</mat-icon>
    <span>Report post</span>
  </button>
  <button
    *ngIf="
      currentlyAuthenticatedUserId &&
      post.user.uid === currentlyAuthenticatedUserId
    "
    mat-menu-item
    (click)="deletePost()"
    color="warn"
  >
    <mat-icon>delete</mat-icon>
    <span>Delete post</span>
  </button>
</mat-menu>
