//@import "@angular/material/theming";

.title,
.logo {
  font-family: "Permanent Marker", cursive;
  font-size: 1.5em;
  line-height: 1em;
  padding-bottom: 4px;
}

$toolbar-height: 80px;
mat-toolbar {
  position: relative;
  z-index: 10000;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  height: $toolbar-height;
  flex-shrink: 0;
}

.spacer {
  flex: 1 1 auto;
}

.profile-icon-button {
  img {
    width: 75%;
    height: 75%;
    border-radius: 50%;
  }
}
::ng-deep .user-display > span.mat-button-wrapper {
  width: 100%;
  text-align: center;
}

::ng-deep a.mat-menu-item {
  text-decoration: none;
}

.login-fab {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 2;
}

#alainMenuButton {
  position: absolute;
  left: 10px;
  top: 10px;
}

.main-content {
  overflow: scroll;
}
