.settings-page-container {
  @media (max-width: 599px) {
    height: calc(100% - 56px);
  }
  @media (min-width: 600px) {
    height: calc(100% - 64px);
    overflow-y: scroll;
  }
  @media (max-width: 767px) {
    overflow: hidden;
  }
  padding-bottom: 100px;
}

div.menu {
  overflow: hidden;
}

button.menuButton {
  text-align: left;
  height: 48px;
  border-radius: 0;
  padding-left: 18px;

  mat-icon {
    margin-right: 10px;
  }
}

button.menuButton.selected {
  border-left: 2px solid;
  border-color: #0039cb;
  padding-left: 16px;
}

#saveSpeedDial {
  position: absolute;
  z-index: 2;

  bottom: 50px;
  right: 50px;
}
