.spacer {
  flex: 1 1 auto;
}

mat-form-field,
.form-group,
::ng-deep .mat-form-field-wrapper {
  width: 100%;
}

mat-dialog-actions {
  margin-left: -4px;
  margin-right: -4px;
}

mat-tab-group {
  margin-bottom: 15px;
}

button.mat-button,
button.mat-flat-button {
  margin-left: 4px;
  margin-right: 4px;
}

::ng-deep .mat-tab-body-content {
  padding: 10px;
  padding-top: 20px;
}

::ng-deep app-upload-media-ui {
  display: flex;
  align-items: center;
}
