.spacer {
  flex: 1 1 auto;
}

mat-form-field,
.form-group,
::ng-deep .mat-form-field-wrapper {
  width: 100%;
}

mat-dialog-actions {
  margin-left: -4px;
  margin-right: -4px;
}

button.mat-button,
button.mat-flat-button {
  margin-left: 4px;
  margin-right: 4px;
}

::ng-deep .upload-media-box {
  display: flex;
  align-items: center;
  padding: 10px;
  padding-top: 20px;

  button {
    margin-right: 15px;
  }
}
