<h1 mat-dialog-title>{{ isCreating ? "Create" : "Edit" }} post</h1>
<mat-dialog-content>
  <form onsubmit="event.preventDefault()">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input type="text" matInput />
    </mat-form-field>
    <mat-form-field>
      <input
        #imageInput
        hidden="true"
        type="file"
        onclick="this.value=null"
        (change)="onSelectImage($event.target.files)"
      />
      <mat-label>Upload Media</mat-label>
      <input
        #filenameInput
        matInput
        type="text"
        ng-readonly="true"
        (click)="imageInput.click()"
        readonly
        [value]="uploadFileName"
      />
      <mat-hint>{{
        uploadFile
          ? "Size: " + uploadFileSizeString + ", Type: " + uploadFile.type
          : "Click field to select media"
      }}</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>
        Content
      </mat-label>
      <textarea #content matInput></textarea>
      <mat-hint>{{ content.value.length }} / 1024</mat-hint>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button [color]="hasChanged ? 'warn' : ''" (click)="close()">
    {{ hasChanged ? "Discard" : "Cancel" }}
  </button>
  <div class="spacer"></div>
  <button mat-button [disabled]="!hasChanged">Save draft</button>
  <button mat-flat-button color="accent" [disabled]="!hasChanged">Post</button>
</mat-dialog-actions>
