::ng-deep app-map-page,
div.map-container {
  height: 100%;
  position: relative;
}

app-spot-map {
  display: block;
  @media (min-width: 768px) {
    // desktop (large screen)
    width: calc(100% + 400px);
    height: 100%;
  }
  @media (max-width: 767px) {
    // mobile
    margin-top: -100px;
    width: 100%;
    height: calc(100% + 100px);
  }
}

.map-container {
  overflow: hidden;
  height: 100%;
}

.tab-icon {
  margin-right: 8px;
}
::ng-deep .mat-tab-label {
  min-width: 0 !important;
}

.editCardContainer {
  position: absolute;
  padding: 10px;
  top: 85px;
  right: 0px;
  left: 0px;
  bottom: 0px;

  pointer-events: none;

  @media (min-width: 768px) {
    top: 0px;
    right: 100px;
    left: 100px;
  }
}

#editCard {
  pointer-events: all;

  position: relative;
  margin: 0 auto;
  width: 50vw;
  max-width: 100%;
}

#searchFab {
  position: absolute;
  z-index: 2;

  left: 20px;
  top: 20px;
}

#saveBoundsEditFab,
#createSpotSpeedDial {
  position: absolute;
  z-index: 1;

  @media (max-width: 599px) {
    // small screen
    bottom: calc(170px + 20px);
    right: 20px;
  }
  @media (min-width: 600px) {
    // desktop (large screen)
    bottom: calc(30px);
    right: 20px;
  }
}

#exitBoundsEditFab {
  position: absolute;
  z-index: 2;
  right: 38px;
  bottom: 95px; // TODO fix
}

#searchSpotList {
  mat-card {
    cursor: pointer;
  }

  -ms-overflow-style: none; // IE 10+
  scrollbar-width: none; // Firefox
}

mat-card {
  ::ng-deep .mat-card-header-text {
    width: 100%;
    margin: 0;
  }
}

#map {
  height: 100%;
  width: 100%;
}

div.search-group {
  pointer-events: none;
  position: absolute;
  top: 0px;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  left: 0px;
  padding-left: 10px;
  padding-right: 10px;

  @media (max-width: 599px) {
    // small screen
    width: 100%;
    top: 0px;
  }
  @media (min-width: 600px) {
    background: transparent;
    width: 420px;
  }
  @media (min-width: 1200px) {
    width: 500px;
  }
  @media (min-width: 1400px) {
    width: 600px;
  }

  mat-form-field,
  app-bottom-sheet,
  div.info-panel {
    overflow-y: auto;
    pointer-events: visible;
    border-radius: 16px;
    width: 100%;
    margin-bottom: 10px;

    ::ng-deep mat-card {
      border-radius: 28px;
    }
  }

  .spot-search-field {
    height: 56px;
    overflow: hidden;
    border: none;
    margin-top: 10px;

    ::ng-deep .mat-mdc-form-field-subscript-wrapper,
    ::ng-deep .mdc-line-ripple {
      display: none;
    }
    ::ng-deep .mat-mdc-text-field-wrapper {
      background-color: inherit;
    }
    ::ng-deep .mat-mdc-form-field-icon-suffix {
      align-items: center;
    }
  }
}

app-bottom-sheet {
  overflow: hidden !important;
  margin-bottom: 0px !important;

  @media (max-width: 599px) {
    // small screen
    margin-left: -10px;
    margin-right: -10px;
    width: calc(100% + 20px) !important;
  }
}

.profile-icon-button {
  padding: 0px;
  margin-right: 5px;
  overflow: clip;
  border-radius: 50%;

  img {
    width: 100%;
    height: 100%;
  }
}

::ng-deep .mat-mdc-form-field-icon-suffix {
  display: flex;
  flex-direction: row;
}

::ng-deep mat-card.mat-mdc-card.mdc-card {
  box-shadow: none;

  > mat-card-header {
    padding-top: 0px;
  }
}

.mini-fabs {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  right: 20px;
  gap: 15px;
  @media (max-width: 767px) {
    top: 100px;
  }
  @media (min-width: 768px) {
    top: 20px;
  }
}

mat-chip-listbox.search-option-chips {
  position: absolute;
  @media (max-width: 767px) {
    // mobile
    top: 75px;
    left: 30px;
  }
  @media (min-width: 768px) {
    // desktop (large screen)
    left: 430px;
    top: 10px;
  }
}
