<div class="map-container">
  <!-- The spot map, defer loading to make sure it is not loaded on the server. -->
  @defer {
  <app-spot-map
    #spotMap
    id="spotMap"
    [selectedSpot]="selectedSpot"
    (selectedSpotChange)="selectedSpot = $event; updateMapURL()"
    [(isEditing)]="isEditing"
    [(mapStyle)]="mapStyle"
    [showAmenities]="showAmenities()"
    (visibleSpotsChange)="setVisibleSpots($event, spotMap.map!.center!)"
    (hightlightedSpotsChange)="highlightedSpots = $event"
    (hasGeolocationChange)="askedGeoPermission = true; hasGeolocation = $event"
  ></app-spot-map>
  }

  <div class="search-group">
    <div class="d-flex flex-row gap-3">
      @if(alainMode) {
      <div class="spacer d-block d-md-none" style="width: 56px"></div>
      }
      <mat-form-field
        class="spot-search-field mat-elevation-z3"
        appearance="fill"
      >
        @if(selectedSpot) {
        <button
          mat-icon-button
          matSuffix
          (click)="$event.stopPropagation(); spotMap?.closeSpot()"
          class="me-2"
        >
          <mat-icon>close</mat-icon>
        </button>
        } @else {
        <mat-icon matSuffix>search</mat-icon>
        }

        <input
          #mapSearchInput
          id="mapSearchInput"
          matInput
          i18n-placeholder
          placeholder="Find spots and places"
          [formControl]="spotSearchControl"
          [matAutocomplete]="spotAutocomplete"
        />
        <mat-autocomplete
          #spotAutocomplete="matAutocomplete"
          [autoActiveFirstOption]="true"
          (optionSelected)="
            openSpotOrGooglePlace($event.option.value);
            spotSearchControl.setValue('')
          "
          class="mt-2 rounded"
        >
          @if(((spotAndPlaceSearchResults$ | async)?.spots?.hits?.length ?? 0) >
          0) {
          <div>
            <p class="mat-label-medium ps-3 pt-1 mb-1">Spots</p>
            <mat-divider></mat-divider>
          </div>
          }
          <mat-option
            class="spotAutocompleteOption"
            *ngFor="
              let hit of (spotAndPlaceSearchResults$ | async)?.spots?.hits
            "
            [value]="{ type: 'spot', id: hit.document.id }"
          >
            <!-- <img
              *ngIf="spot.previewImage"
              [src]="spot.previewImage"
              alt="Img"
            /> -->
            <!-- TODO FIX -->
            <span>{{
              hit.document.name[locale] ??
                hit.document.name["de-CH"] ??
                "Unnamed Spot"
            }}</span>
            <!-- <small
              >Location: {{ spot.location.lat }}, {{ spot.location.lng }}</small
            > -->
          </mat-option>
          @if(((spotAndPlaceSearchResults$ | async)?.spots?.hits?.length ?? 0) >
          0) {
          <div class="pt-2"></div>
          } @if(((spotAndPlaceSearchResults$ | async)?.places?.length ?? 0) > 0)
          {
          <div>
            <p class="mat-label-medium ps-3 pt-1 mb-1">Places</p>
            <mat-divider></mat-divider>
          </div>
          }
          <mat-option
            class="spotAutocompleteOption"
            *ngFor="let place of (spotAndPlaceSearchResults$ | async)?.places"
            [value]="{ type: 'place', id: place.place_id }"
            ><span>{{ place.description ?? "" }}</span>
          </mat-option>
        </mat-autocomplete>
        <!-- <button
          mat-icon-button
          matSuffix
          color="primary"
          class="profile-icon-button login-fab d-md-none me-2"
          [matMenuTriggerFor]="searchUserMatMenu"
          (click)="$event.stopPropagation()"
        >
          <mat-icon *ngIf="!authService.isSignedIn">person_outline</mat-icon>
          <img
            *ngIf="
              authService.isSignedIn && authService.user?.data?.profilePicture
            "
            [src]="
              storageService.getSpotMediaURL(
                authService.user.data.profilePicture,
                200
              )
            "
          />
        </button>-->
      </mat-form-field>
    </div>

    @if(spotMap) { @if(selectedSpot) {
    <div class="info-panel d-none d-md-block spot-preview-container p-3 pt-4">
      <app-spot-details
        @fadeInOut
        #spotDetail
        [spot]="selectedSpot"
        [flat]="true"
        [dismissable]="false"
        [infoOnly]="false"
        [editable]="true"
        [isEditing]="isEditing"
        (isEditingChange)="$event ? spotMap.startEdit() : spotMap.discardEdit()"
        (dismiss)="spotMap.closeSpot()"
        (addBoundsClick)="spotMap.addBounds()"
        (focusClick)="spotMap.focusSpot(selectedSpot)"
        (saveClick)="spotMap.saveSpot($event)"
      ></app-spot-details>
    </div>
    } @else {
    <div class="info-panel d-none d-md-block p-3">
      <app-spot-list
        @fadeInOut
        [spots]="visibleSpots"
        [highlightedSpots]="highlightedSpots"
      ></app-spot-list>
    </div>
    }
    <app-bottom-sheet #bottomSheet class="d-md-none flex-grow-1">
      @if(selectedSpot) {
      <div class="spot-preview-container">
        <app-spot-details
          @fadeInOut
          #spotDetail
          [spot]="selectedSpot"
          [flat]="true"
          [dismissable]="false"
          [infoOnly]="false"
          [editable]="true"
          [isEditing]="isEditing"
          (isEditingChange)="
            $event ? spotMap.startEdit() : spotMap.discardEdit()
          "
          (dismiss)="spotMap.closeSpot()"
          (addBoundsClick)="spotMap.addBounds()"
          (focusClick)="spotMap.focusSpot(selectedSpot)"
          (saveClick)="spotMap.saveSpot($event)"
        ></app-spot-details>
      </div>
      } @else {
      <app-spot-list
        @fadeInOut
        [spots]="visibleSpots"
        [highlightedSpots]="highlightedSpots"
      ></app-spot-list>
      }
    </app-bottom-sheet>
    }
  </div>

  <!-- Search option chips -->
  <!-- @if(authService.isSignedIn && !isEditing) {
  <mat-chip-listbox class="search-option-chips">
    <mat-chip-option color="">Unvisited</mat-chip-option>
    <mat-chip-option color="primary" leadingIcon="flag"
      >Visited</mat-chip-option
    >
  </mat-chip-listbox>
  } -->

  <div class="mini-fabs">
    <button
      mat-mini-fab
      #mapStyleFab
      id="mapStyleFab"
      (click)="spotMap.toggleMapStyle()"
      color="primary"
    >
      <mat-icon>
        {{ mapStyle === "roadmap" ? "terrain" : "map" }}
      </mat-icon>
    </button>

    <button
      mat-mini-fab
      #geolocationFab
      id="geolocationFab"
      color="primary"
      (click)="spotMap.focusOnGeolocation()"
    >
      <mat-icon>
        {{
          askedGeoPermission
            ? hasGeolocation
              ? "my_location"
              : "location_disabled"
            : "location_searching"
        }}
      </mat-icon>
    </button>

    <button
      mat-mini-fab
      #amenitiesFab
      id="amenitiesFab"
      color="primary"
      (click)="showAmenities.set(!showAmenities())"
      [disabled]="spotMap?.mapZoom < 16"
    >
      <mat-icon>
        {{ showAmenities() ? "location_off" : "location_on" }}
      </mat-icon>
    </button>
  </div>

  @if(authService.isSignedIn && !isEditing) {
  <!-- Add / import spots speed dial-->
  <!-- <app-speed-dial-fab
    #createSpotSpeedDial
    id="createSpotSpeedDial"
    [buttonConfig]="speedDialButtonConfig"
    [openOnHover]="true"
    [rotationDegrees]="0"
    (mainFabClick)="spotMap.createSpot()"
    (miniFabClick)="speedDialMiniFabClick($event)"
  ></app-speed-dial-fab> -->
  <button
    @fadeInOut
    mat-fab
    #createSpotSpeedDial
    id="createSpotSpeedDial"
    color="primary"
    (click)="spotMap.createSpot()"
  >
    <mat-icon> add_location </mat-icon>
  </button>
  }

  <!-- <mat-menu #searchUserMatMenu="matMenu">
    <app-user-menu-content></app-user-menu-content>
  </mat-menu> -->
</div>
