@use "sass:map";
@use "@angular/material" as mat;

@mixin color($theme) {
  app-mat3-nav-button {
    a {
      color: mat.get-theme-color($theme, on-surface);
    }

    a:enabled {
      color: mat.get-theme-color($theme, on-surface-variant);
    }

    a.active > mat-icon,
    a:active > mat-icon {
      color: mat.get-theme-color($theme, on-secondary-container);
      background-color: mat.get-theme-color($theme, secondary-container);
    }

    a:hover > mat-icon {
      color: mat.get-theme-color($theme, on-surface-variant);
      background-color: mat.get-theme-color($theme, surface-container-highest);
    }
    a:focus > mat-icon {
      color: mat.get-theme-color($theme, on-surface-variant);
      background-color: mat.get-theme-color($theme, surface-container-highest);
    }

    a:hover.active > mat-icon,
    a:hover:active > mat-icon {
      color: mat.get-theme-color($theme, on-secondary-container);
      background-color: mat.get-theme-color($theme, secondary-container);
    }
    a:focus.active > mat-icon,
    a:focus:active > mat-icon {
      color: mat.get-theme-color($theme, on-secondary-container);
      background-color: mat.get-theme-color($theme, secondary-container);
    }
  }
}

@mixin typography($theme) {
  app-mat3-nav-button > a {
    font-family: mat.get-theme-typography($theme, label-medium, font-family);
    font-weight: mat.get-theme-typography($theme, label-medium, font-weight);
    font-size: mat.get-theme-typography($theme, label-medium, font-size);
  }
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }

  @if mat.theme-has($theme, typography) {
    @include typography($theme);
  }
}
