.button-container {
  // remove link shit
  text-decoration: none;
  color: inherit;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  background: transparent;
  border: none;

  > mat-icon,
  .image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 16px;
  }
}

.button-container > mat-icon,
.button-container > .image {
  transition: color 0.2s, background-color 0.2s, width 0.2s;
}

.button-container:hover > mat-icon,
.button-container:hover > .image,
.button-container:focus > mat-icon,
.button-container:focus > .image,
.button-container.active > mat-icon,
.button-container.active > .image,
.button-container:active > mat-icon,
.button-container:active > .image,
:host.active > .button-container > mat-icon,
:host.active > .button-container > .image {
  @media (max-width: 767px) {
    width: 64px;
  }
  @media (min-width: 768px) {
    width: 56px;
  }
}
