// @use "sass:map";
@use "@angular/material" as mat;
@use "../../theming/m3-theme" as theme;

button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70px;
  background: transparent;
  border: none;

  > mat-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 16px;
  }
}

button {
  font-family: mat.get-theme-typography(
    theme.$dark-theme,
    label-medium,
    font-family
  );
  font-weight: mat.get-theme-typography(
    theme.$dark-theme,
    label-medium,
    font-weight
  );
  font-size: mat.get-theme-typography(
    theme.$dark-theme,
    label-medium,
    font-size
  );
  color: mat.get-theme-color(theme.$dark-theme, on-surface);
}

button > mat-icon {
  transition: color 0.2s, background-color 0.2s, width 0.2s;
}

button:enabled > mat-icon {
  color: mat.get-theme-color(theme.$dark-theme, on-surface-variant);
  background-color: transparent;
}
button.active > mat-icon,
button:active > mat-icon {
  color: mat.get-theme-color(theme.$dark-theme, on-secondary-container);
  background-color: mat.get-theme-color(theme.$dark-theme, secondary-container);
}

button:hover > mat-icon,
button:focus > mat-icon,
button.active > mat-icon,
button:active > mat-icon {
  @media (max-width: 767px) {
    width: 64px;
  }
  @media (min-width: 768px) {
    width: 56px;
  }
}

button:hover > mat-icon {
  color: mat.get-theme-color(theme.$dark-theme, on-surface-variant);
  background-color: mat.get-theme-color(
    theme.$dark-theme,
    surface-container-highest
  );
}
button:focus > mat-icon {
  color: mat.get-theme-color(theme.$dark-theme, on-surface-variant);
  background-color: mat.get-theme-color(
    theme.$dark-theme,
    surface-container-highest
  );
}
button:hover.active > mat-icon,
button:hover:active > mat-icon {
  color: mat.get-theme-color(theme.$dark-theme, on-secondary-container);
  background-color: mat.get-theme-color(theme.$dark-theme, secondary-container);
}
button:focus.active > mat-icon,
button:focus:active > mat-icon {
  color: mat.get-theme-color(theme.$dark-theme, on-secondary-container);
  background-color: mat.get-theme-color(theme.$dark-theme, secondary-container);
}
