<app-page-header title="Wiki"> </app-page-header>

<div class="container">
  <div class="row">
    <div class="col-md-6 mb-3">
      <div class="header-box gradient-background mat-elevation-z5">
        Parkour
      </div>
      <div class="article-box mat-elevation-z3">
        Basics
      </div>
      <div class="article-box mat-elevation-z3">
        Vaults
      </div>
      <div class="article-box mat-elevation-z3">
        Flow
      </div>
      <div class="article-box mat-elevation-z3">
        Ascent
      </div>
      <div class="article-box mat-elevation-z3">
        Precisions
      </div>
      <div class="article-box mat-elevation-z3">
        Plyos
      </div>
    </div>
    <div class="col-md-6">
      <div class="header-box gradient-background mat-elevation-z5">
        Freerunning
      </div>
      <div class="article-box mat-elevation-z3">
        Tricking
      </div>
      <div class="article-box mat-elevation-z3">
        Flips
      </div>
      <div class="article-box mat-elevation-z3">
        Rotation
      </div>
    </div>
  </div>
</div>
