<div
  class="sheet-region"
  cdkDropList
  [class.is-open]="isOpen"
  (cdkDropListDropped)="onDrop($event)"
>
  <div [style.order]="isOpen ? 2 : 1" class="spacer" cdkDrag></div>
  <div
    #bottomSheet
    id="bottomSheet"
    [style.order]="isOpen ? 1 : 2"
    class="sheet mat-elevation-z3"
    cdkDragBoundary=".sheet-region"
    cdkDrag
    cdkDragLockAxis="y"
  >
    <div class="header">
      <div class="handle-region" cdkDragHandle>
        <div class="handle"></div>
      </div>
      <h3 class="mat-h3">{{ title }}</h3>
    </div>
    <div class="content">
      <ng-content></ng-content>
    </div>
  </div>
</div>
