<mat-progress-bar *ngIf="isSaving" color="accent" mode="indeterminate"></mat-progress-bar>


<mat-menu #navUserMenu="matMenu">
  <button mat-menu-item >
    <span>en_US</span>
  </button>
  <button mat-menu-item >
    <span>de_DE</span>
  </button>
  <button mat-menu-item >
    <span>de_CH</span>
  </button>
</mat-menu>

<mat-card
  matRipple
  [matRippleDisabled]="!clickable"
  [class.mat-elevation-z0]="flat"
  [class.clickable]="clickable"
>

  <mat-card-header>
    <mat-card-title>
      <button
        *ngIf="dismissable"
        mat-icon-button
        #closeSpotFab
        id="closeSpotFab"
        (click)="dismissed()"
      >
        <mat-icon>close</mat-icon>
      </button>
      <span *ngIf="!isEditing">
        {{ spot.name }}
      </span>
      <form *ngIf="isEditing">
        <mat-form-field style="width: calc(100% - 35px)">
          <mat-label>Spot name</mat-label>
          <input
            #spotNameInput
            matInput
            [value]="editedSpot?.name || ''"
            (change)="editedSpot.setName($event.target.value)"
          />
        </mat-form-field>
      </form>
      <mat-icon *ngIf="visited && !isEditing" style="float: right"
        >flag</mat-icon
      >
    </mat-card-title>
    <mat-card-subtitle>
      <span *ngIf="!isEditing">
        {{ capitalize(spot.type) }}
        <app-rating
          class="float-right"
          *ngIf="spot?.rating"
          [rating]="spot.rating"
          color="accent"
        ></app-rating>
      </span>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group
      *ngIf="!isEditing"
      mat-stretch-tabs
      (selectedTabChange)="selectedTabChanged($event.index)"
    >
      <mat-tab label="Details">
        <!-- language selection -->
        <div class="text-center mt-1">
          Language: 
          <button
          mat-button
          class="p-0 ml-1"
          [matMenuTriggerFor]="navUserMenu"
          >
            <mat-icon
              >language</mat-icon
            >
            <mat-icon
              >arrow_drop_down</mat-icon
            >
          </button>

          Current Language: {{spotLanguage}}
        </div>
        

        <!-- spot media swiper  -->
        <swiper
          class="spot-media-swiper"
          *ngIf="spot.media && spot.media.length > 0"
          [navigation]="true"
          [pagination]="{ clickable: true }"
        >
          <ng-template *ngFor="let mediaObj of spot.media" swiperSlide
            ><img
              *ngIf="mediaObj.type === 'image'"
              src="{{ mediaObj.src }}"
              class="spot-img"
            />
          </ng-template>
        </swiper>

        <!-- Icon button row -->
        <div
          class="spot-button-row mb-3 mt-3"
          *ngIf="_authenticationService.isSignedIn"
        >
          <button
            *ngIf="false"
            mat-icon-button
            matTooltip="Focus on map"
            aria-label="Example icon button with a heart icon"
            (click)="focusButtonClick()"
          >
            <mat-icon>center_focus_strong</mat-icon>
          </button>

          <button
            mat-icon-button
            color="accent"
            matTooltip="Save this spot"
            aria-label="Example icon button with a bookmark icon"
            (click)="bookmarkClick()"
          >
            <mat-icon>{{
              bookmarked ? "bookmark" : "bookmark_border"
            }}</mat-icon>
          </button>
          <button
            mat-icon-button
            color="accent"
            matTooltip="Mark as visited"
            aria-label="Example icon button with a flag icon"
            (click)="visitedClick()"
          >
            <mat-icon>{{ visited ? "flag" : "outlined_flag" }}</mat-icon>
          </button>
          <button
            [disabled]="!visited"
            mat-icon-button
            color="accent"
            [matTooltip]="
              visited
                ? 'Rate this spot'
                : 'To rate this spot you need to mark it as visited'
            "
            aria-label="Example icon button with a half-star icon"
            (click)="rateClick()"
          >
            <mat-icon>star</mat-icon>
          </button>
          <button
            mat-icon-button
            matTooltip="Edit this spot"
            aria-label="Example icon button with a pencil icon"
            (click)="editButtonClick()"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <div class="spot-button-row mb-3 mt-3">
          <button
            mat-stroked-button
            matTooltip="Share this spot"
            aria-label="Example icon button with a share icon"
            (click)="shareSpot()"
          >
            Share
          </button>
          <button
            mat-stroked-button
            matTooltip="Open in maps"
            aria-label="Example icon button with an open in icon"
            (click)="openSpotInMaps()"
          >
            Open in maps
          </button>
        </div>

        <div *ngIf="spot.description">
          <h4 class="mat-body-2">Description</h4>
          <p>
            {{ spot.description }}
          </p>
        </div>

        <div *ngIf="spot.address?.country">
          <h4 *ngIf="spot.address?.formatted" class="mat-body-2">Address</h4>
          <p>{{ spot.address.formatted }}</p>
          <h4 class="mat-body-2">Country</h4>
          <p>
            {{ getCountryEmojiFromAlpha2(spot.address.country.short) }}
            {{ getCountryNameFromShortCode(spot.address.country.short) }}
          </p>
        </div>
      </mat-tab>
      <mat-tab label="Posts">
        <app-post-collection [posts]="spotPosts"></app-post-collection>
      </mat-tab>
      <mat-tab label="History"> ... Coming soon ... </mat-tab>
    </mat-tab-group>

    <!-- Media preview grid -->
    <app-media-preview-grid
      *ngIf="isEditing"
      [media]="spot.media"
      (mediaChanged)="mediaChanged($event)"
    ></app-media-preview-grid>

    <!-- Image upload  -->
    <div *ngIf="isEditing" class="upload-spot-image-box">
      <app-upload-media-ui
        [allowedMimeTypes]="['image/jpeg']"
        acceptString="image/jpeg"
        (uploadMedia)="setSpotImage($event)"
      >
      </app-upload-media-ui>
      <button
        mat-flat-button
        (click)="uploadImage()"
        class="mt-2"
        color="accent"
      >
        Upload Spot Image
      </button>
    </div>

    <!-- Edit spot form -->
    <form *ngIf="isEditing">
      <mat-form-field style="width: 100%">
        <mat-label>Spot type</mat-label>
        <mat-select [value]="editedSpot?.type" (selectionChange)="editedSpot.setType($event.value)">
          <mat-option *ngFor="let type of spotTypes" [value]="type">
            {{ capitalize(type) }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="width: 100%">
        <mat-label>Spot area</mat-label>
        <mat-select [value]="editedSpot?.area" (selectionChange)="editedSpot.setArea($event.value)">
          <mat-option *ngFor="let area of spotAreas" [value]="area">
            {{ capitalize(area) }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="width: 100%">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          placeholder="Description of the spot, its features and more..."
          [value]="editedSpot?.description || ''"
          (change)="editedSpot.setDescription($event.target.value)"
        ></textarea>
      </mat-form-field>

      <!-- Country and address toggle -->
      <mat-slide-toggle
        color="accent"
        [checked]="true"
        (change)="automaticallyDetermineCountryAndAddressToggleChanged($event)"
        >Automatically determine address</mat-slide-toggle
      >

      <!-- Country -->
      <mat-form-field
        *ngIf="!automaticallyDetermineAddress"
        style="width: 100%"
      >
        <mat-label>Country</mat-label>
        <input
          matInput
          placeholder="Country"
          aria-label="Country"
          [formControl]="stateCtrl"
          [matAutocomplete]="countryAuto"
        />
        <mat-autocomplete
          #countryAuto="matAutocomplete"
          (optionSelected)="countryOptionSelected($event)"
        >
          <mat-option
            [id]="country.code"
            *ngFor="let country of filteredCountries | async"
            [value]="country.name"
          >
            {{ country.emoji }} {{ country.name }}
          </mat-option>
        </mat-autocomplete>
        <mat-hint
          >Selected:
          {{
            spot.address?.country
              ? getCountryEmojiFromAlpha2(spot.address.country.short) +
                " " +
                spot.address.country.long +
                " (" +
                spot.address.country.short +
                ")"
              : "No country selected"
          }}</mat-hint
        >
      </mat-form-field>

      <!-- Address -->
      <mat-form-field
        *ngIf="
          !automaticallyDetermineAddress && spot.address && spot.address.country
        "
        style="width: 100%"
      >
        <mat-label>Address</mat-label>
        <input
          matInput
          [value]="spot.address?.formatted || ''"
          (change)="addressChanged($event.target.value)"
        />
      </mat-form-field>
    </form>

    <div class="spot-button-row">
      <button
        *ngIf="editable && isEditing && !hasBounds()"
        mat-button
        (click)="addBoundsClicked()"
      >
        Add bounds
      </button>
    </div>
  </mat-card-content>
  <mat-card-actions *ngIf="isEditing">
    <button
      color="accent"
      *ngIf="editable"
      mat-button
      (click)="saveButtonClick()"
    >
      Save changes
    </button>
    <button
      color="primary"
      *ngIf="editable"
      mat-button
      (click)="discardButtonClick()"
    >
      Discard changes
    </button>
  </mat-card-actions>
</mat-card>
