.header-box {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 30px;
  border-radius: 20px;
  font-size: 36px;
  font-family: "Permanent Marker", cursive;
  margin-bottom: 10px;
}

.gradient-background {
  color: white;
  background: #667eff;
  background: -webkit-linear-gradient(top, #667eff, #3050fe);
  background: -moz-linear-gradient(top, #667eff, #3050fe);
  background: linear-gradient(to bottom, #667eff, #3050fe);
}

.article-box {
  @extend .header-box;
  border-radius: 10px;
  font-family: inherit;
  font-size: 18px;
  padding: 20px;
}
