.spacer {
  flex: 1 1 auto;
}

.outline-box {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

mat-form-field,
.form-group,
::ng-deep .mat-form-field-wrapper {
  width: 100%;
}

mat-dialog-actions {
  margin-left: -4px;
  margin-right: -4px;
}

mat-tab-group {
  margin-bottom: 15px;
}

button.mat-button,
button.mat-flat-button {
  margin-left: 4px;
  margin-right: 4px;
}

::ng-deep app-edit-post-dialog .mat-tab-body-content {
  padding: 20px;
  padding-top: 20px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep app-upload-media-ui {
  width: 100%;
  display: flex;
  align-items: center;
}

.spotAutocompleteOption {
  img {
    vertical-align: middle;
    margin-right: 10px;
    max-height: 40px;
    max-width: 50px;
  }
  [dir="rtl"] img {
    margin-right: 0px;
    margin-left: 10px;
  }
}
