<app-map
  #map
  id="map"
  [zoom]="mapZoom"
  [spots]="visibleSpots"
  [dots]="visibleDots"
  [selectedSpot]="selectedSpot()"
  [markers]="visibleMarkers"
  [selectedMarker]="selectedMarker()"
  [isEditing]="isEditing()"
  [showGeolocation]="showGeolocation"
  [boundRestriction]="boundRestriction"
  [minZoom]="minZoom"
  [mapStyle]="mapStyle()"
  (boundsChange)="mapBoundsChanged($event, mapZoom)"
  (visibleTilesChange)="visibleTilesChanged($event)"
  (zoomChange)="zoomChanged($event)"
  (mapClick)="isClickable ? mapClick($event) : null"
  (spotClick)="isClickable ? openSpotByWhateverMeansNecessary($event) : null"
  (centerChange)="mapCenter = $event"
  (hasGeolocationChange)="hasGeolocationChange.emit($event)"
></app-map>
