<div class="container text-center">
  <div class="row">
    <div *ngIf="isLoading" class="p-5 col-md-12 d-flex justify-content-center">
      <mat-spinner></mat-spinner>
    </div>
  </div>
  <div class="row d-lg-flex flex-row" *ngIf="user && !isLoading">
    <div class="col-lg-8 pt-4">
      <mat-card class="mat-elevation-z0 border rounded text-left">
        <mat-card-content class="p-4">
          <div class="profileCardContainer">
            <img
              *ngIf="profilePicture"
              class="profile-pic"
              [src]="profilePicture"
              alt=""
            />
            <div
              class="
                profileInfoContainer
                d-flex
                flex-column
                justify-content-center
                flex-grow-1
                w-100
              "
            >
              <div class="d-flex justify-content-between">
                <h1 class="mat-display-1 mb-2 flex-full">
                  {{ user.displayName }}
                </h1>
                <mat-chip-list class="d-flex pb-2 ml-3">
                  <mat-chip
                    color="accent"
                    *ngIf="isMyProfile"
                    [selectable]="false"
                    >You</mat-chip
                  >
                  <mat-chip *ngIf="!isMyProfile && false">Follows you</mat-chip>
                </mat-chip-list>
              </div>
              <div class="d-md-flex flex-row justify-content-between">
                <h3 *ngIf="false" class="mat-h3 mb-2">
                  Member of <b>Team name</b>
                </h3>
                <h3 *ngIf="user.startTimeDiffString" class="mat-h3 mb-2">
                  Freerunner since {{ user.startTimeDiffString }}
                </h3>
              </div>
              <h3 class="mat-h3">
                <b>
                  <app-fancy-counter
                    [number]="user.followerCount || 0"
                  ></app-fancy-counter
                ></b>
                Follower{{ user.followerCount === 1 ? "" : "s" }}
              </h3>
              <div *ngIf="!isMyProfile" class="profileButtonRow d-flex">
                <button
                  mat-flat-button
                  [color]="isFollowing ? 'primary' : 'accent'"
                  class="
                    d-flex
                    justify-content-center
                    align-items-center align-middle
                  "
                  (click)="followButtonClick()"
                >
                  <mat-spinner
                    *ngIf="loadingFollowing"
                    diameter="24"
                    class="float-left followingSpinner mr-2"
                  ></mat-spinner>
                  {{ isFollowing ? "Unfollow" : "Follow" }}
                </button>
                <button mat-stroked-button color="default">Contact</button>
                <button mat-stroked-button color="default">
                  Block / Report
                </button>
              </div>
              <div *ngIf="isMyProfile" class="profileButtonRow d-flex">
                <button
                  mat-flat-button
                  color="primary"
                  (click)="viewFollowers()"
                >
                  Followers
                </button>
                <button
                  mat-flat-button
                  color="primary"
                  (click)="viewFollowing()"
                >
                  Following
                </button>
                <button
                  mat-stroked-button
                  color="default"
                  routerLink="/settings/profile"
                >
                  Edit Profile
                </button>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-4 pt-4">
      <mat-card class="mat-elevation-z0 border h-100">
        <mat-card-header>
          <mat-card-title>Groups</mat-card-title>
        </mat-card-header>
        <mat-card-content> Coming soon... </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row" *ngIf="user && !isLoading">
    <div class="col-lg-6 pt-3">
      <app-post-collection
        [title]="'Posts from ' + user.displayName"
        [loading]="postsFromUserLoading"
        [posts]="postsFromUser"
      ></app-post-collection>
    </div>
    <div class="col-lg-6 pt-3"></div>
  </div>
</div>
