<mat-drawer-container class="drawer-container">
  <mat-drawer
    postition="start"
    mode="side"
    [opened]="true"
    class="left-sidenav"
  >
    <mat-selection-list [multiple]="false">
      <div mat-subheader>My teams</div>
      @for (team of teams; track team) {
      <mat-list-option>
        @if (team.picture_src) {
        <img
          mat-list-icon
          *ngIf="team.picture_src"
          [src]="team.picture_src"
          class="group-picture"
          alt=""
        />
        } @else {
        <mat-icon mat-list-icon>group</mat-icon>
        }
        <div mat-line>{{ team.name }}</div>
        <div mat-line>{{ team.member_count }} members</div>
      </mat-list-option>
      }
      <mat-divider></mat-divider>
      <div mat-subheader>My groups</div>
      @for(group of groups; track group) {
      <mat-list-option>
        @if(group.picture_src) {
        <img
          mat-list-icon
          [src]="group.picture_src"
          class="group-picture"
          alt=""
        />
        } @else {
        <mat-icon mat-list-icon>groups</mat-icon>
        }
        <div mat-line>{{ group.name }}</div>
        <div mat-line>{{ group.member_count }} members</div>
      </mat-list-option>
      }
    </mat-selection-list>
  </mat-drawer>

  <div class="container-content container-fluid d-none d-md-block">
    <div class="row">
      <div class="col-md-12">
        <app-page-header title="UNDER CONSTRUCTION"> </app-page-header>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 text-center">
        <h5>Session Planning</h5>
      </div>
      <div class="col-md-6 text-center">
        <h5>Past sessions</h5>
      </div>
    </div>
  </div>

  <mat-drawer position="end" mode="side" [opened]="true" class="right-sidenav">
    <h5>Discover Communities</h5>
  </mat-drawer>
</mat-drawer-container>
