<app-map
  #map
  id="map"
  [zoom]="mapZoom"
  [center]="mapCenterStart"
  [spots]="visibleSpots"
  [dots]="dots"
  [selectedSpot]="selectedSpot"
  [markers]="markers"
  [selectedMarker]="selectedMarker"
  (boundsChange)="mapBoundsChanged($event, mapZoom)"
  (zoomChange)="zoomChanged($event)"
  (mapClick)="mapClick($event)"
  (spotClick)="openSpot($event)"
  (centerChange)="mapCenter = $event"
  [isEditing]="isEditing"
  [showGeolocation]="true"
  (hasGeolocationChange)="hasGeolocationChange.emit($event)"
></app-map>
