@use "sass:map";
@use "@angular/material" as mat;

@mixin color($theme) {
  div.info-panel,
  :root {
    --swiper-theme-color: mat.get-theme-color($theme, primary) !important;
  }

  body,
  html {
    // background-color: mat.get-theme-color($theme, surface-container-low);
    body {
      background: var(--mat-sys-surface);
      color: var(--mat-sys-on-surface);
    }
  }

  .mat-mdc-dialog-surface {
    background-color: mat.get-theme-color($theme, surface-container-high);
  }

  .mat-mdc-menu-panel {
    background-color: mat.get-theme-color($theme, surface-container-highest);
  }
}

@mixin typography($theme) {
}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }

  @if mat.theme-has($theme, typography) {
    @include typography($theme);
  }
}
