@use "@angular/material" as mat;

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "./theming/m3-theme";

/* You can add global styles to this file, and also import other style files */

button:focus {
  outline: none;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  color: white;

  overscroll-behavior-y: contain;
  position: relative;
  overflow: hidden;
  background-color: var(--mat-app-background-color);
}

// Removes blue google maps iframe border
.gm-style iframe + div {
  border: none !important;
}

#fh5co-hero .fh5co-overlay {
  background-color: transparent !important;
}

.primary-chips {
  @include mat.chips-color($dark-theme, $color-variant: primary);
}

.secondary-chips {
  @include mat.chips-color($dark-theme, $color-variant: secondary);
}

.tertiary-chips {
  @include mat.chips-color($dark-theme, $color-variant: tertiary);
}

.error-chips {
  @include mat.chips-color($dark-theme, $color-variant: error);
}
