@use "@angular/material" as mat;
@use "./theming/m3-theme" as theme;

/* You can add global styles to this file, and also import other style files */
:root {
  --swiper-theme-color: mat.get-theme-color(
    theme.$dark-theme,
    primary
  ) !important;
}

button:focus {
  outline: none;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  color: white;

  overscroll-behavior-y: contain;
  position: relative;
}

// mat-card.mat-mdc-card {
//   background-color: inherit;
// }

// .gm-style iframe + div {
//   border: none !important;
// }
