.collection-container {
  display: flex;
  flex-direction: column;
}

.collection-container::-webkit-scrollbar {
  display: none;
}

.app-post {
  display: inline-block;
  overflow: hidden;
  transform-origin: top;

  margin: 10px;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;

  mat-spinner {
    height: 50px;
  }
}
