mat-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  overflow: hidden;

  img {
    border-radius: 0;
  }

  mat-card-header {
    padding-top: 0px;
    flex-grow: 1;
    overflow: hidden;

    ::ng-deep div.mat-mdc-card-header-text {
      width: 100%;
      * {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}

.clickable {
  cursor: pointer;
}

::ng-deep mat-icon {
  vertical-align: top;
}
