:host {
  //overflow: none;
}

mat-card {
  height: auto;
  overflow-y: scroll;
  overflow: visible;

  ::ng-deep .mat-card-header-text {
    width: 100%;
    margin: 0;
  }
}

.clickable {
  cursor: pointer;
}

.spacer {
  flex-grow: 1;
}

.spot-media-swiper {
  margin-left: -16px;
  margin-right: -16px;
  width: calc(100% + 2 * 16px);
  height: auto;

  img {
    width: 100%;
  }
}

#closeSpotFab {
  float: left;
  margin-left: -10px;
  margin-right: 5px;
}

mat-tab-group {
  height: 100%;
  margin-left: -16px;
  margin-right: -16px;
  margin-top: -16px;
  margin-bottom: -16px;

  ::ng-deep .mat-tab-body-wrapper {
    height: 100%;
  }
}

form {
  > mat-form-field {
    margin-bottom: 5px;
  }
}

::ng-deep .mat-tab-body-content {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
}

.spot-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.spot-button-row button:not(:last-of-type) {
  margin-right: 5px;
}

div.upload-spot-image-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

app-upload-media-ui {
  width: 100%;
}

mat-progress-bar {
  margin-bottom: -4px;
  z-index: 1;
}

mat-card-header {
  justify-content: space-between;
}

mat-card-header {
  ::ng-deep div.mat-mdc-card-header-text {
    flex-shrink: 1;
    min-width: 0;

    * {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

::ng-deep mat-icon {
  vertical-align: top;
}

app-img-carousel {
  overflow: hidden;
  position: relative;
  display: block;
  min-height: 150px;
  max-height: 410px;
  height: 26vh;
  margin-left: -32px;
  margin-right: -32px;
}

.flex-basis-0 {
  flex-basis: 0;
}

.report-info {
  margin-left: -16px;
  margin-right: -16px;
  padding: 16px;
  display: flex;
  justify-content: center;
  background-color: #ffdad6;
  margin-bottom: 10px;
  > * {
    color: #410002;
  }
}

div.hist-grid-container {
  display: grid;
  grid-template-columns: 1fr 10000fr 1fr;
  gap: 10px;
  align-items: center;

  > div.grid-item {
    text-align: end;
  }
}
