<!-- <mat-progress-bar
  *ngIf="isSaving"
  color="accent"
  mode="indeterminate"
></mat-progress-bar> -->

<mat-card
  matRipple
  [matRippleDisabled]="!clickable"
  class="pt-0"
  [class.mat-elevation-z0]="flat"
  [class.clickable]="clickable"
>
  @if(!isEditing) {
  <mat-card-header class="pb-2">
    <mat-card-title [matTooltip]="spot.getName(locale)">
      {{ spot.getName(locale) }}
    </mat-card-title>
    <mat-card-subtitle class="d-flex flex-column">
      @if(spot.rating) {
      <app-spot-rating
        class="flex-shrink-0"
        [rating1to5]="spot.rating / 2"
      ></app-spot-rating>
      } @if(spot.address) {
      <span class="text-truncate">{{ spot.getLocalityString() }}</span>
      }
    </mat-card-subtitle>
    <!-- <mat-card-subtitle class="pt-2 d-flex flex-row">
      @if(spot.type && spot.type !== "other") {
      <mat-chip class="me-1">{{ capitalize(spot.type) }}</mat-chip>
      } @if(spot.area && spot.area !== "other") {
      <mat-chip [color]="spot.area === 'private' ? 'warn' : ''">{{
        capitalize(spot.area)
      }}</mat-chip>
      }
    </mat-card-subtitle> -->

    <!-- Icon buttons in header -->
    <div class="spot-button-row" *ngIf="!isEditing">
      @if(authenticationService.isSignedIn) { @if (!visited) {
      <button
        mat-icon-button
        color="accent"
        matTooltip="Bookmark this spot"
        aria-label="Icon button with a bookmark icon"
        (click)="bookmarked = !bookmarked; $event.stopPropagation()"
      >
        <mat-icon>{{ bookmarked ? "bookmark" : "bookmark_border" }}</mat-icon>
      </button>

      }
      <button
        mat-icon-button
        color="primary"
        matTooltip="Mark this spot as visited"
        aria-label="Icon button with a flag icon"
        (click)="
          visited = !visited; bookmarked = false; $event.stopPropagation()
        "
      >
        <mat-icon>{{ visited ? "flag" : "outlined_flag" }}</mat-icon>
      </button>
      }
      <button
        mat-icon-button
        matTooltip="Share this spot"
        i18n-matTooltip="
          Share spot tooltip|The tootltip of the share spot icon
          button@@share_spot_tooltip"
        aria-label="Icon button with a share icon"
        i18n-aria-label="
          Share spot aria label|The aria label of the share spot icon
          button@@share_spot_aria_label"
        (click)="shareSpot(); $event.stopPropagation()"
      >
        <mat-icon>share</mat-icon>
      </button>
      <button
        mat-icon-button
        matTooltip="Directions to spot"
        i18n-matTooltip="
          Directions spot tooltip|The tooltip of the directions spot icon
          button@@directions_spot_tooltip"
        aria-label="Icon button with a directions icon"
        i18n-aria-label="
          Spot directions aria label|The aria label of the directions spot icon
          button@@directions_spot_aria_label"
        (click)="openDirectionsInMaps()"
      >
        <mat-icon>directions</mat-icon>
        <!-- <mat-icon>turn_right</mat-icon> -->
        <!-- <mat-icon>route</mat-icon> -->
        <!-- <mat-icon>share_location</mat-icon> -->
      </button>
    </div>
  </mat-card-header>
  } @if(report) {
  <div class="report-info">
    <span class="mat-h3 m-0" i18n
      >This spot was reported as "{{ report.reason }}"</span
    >
  </div>
  }
  <mat-card-content>
    @if(!isEditing) {
    <!-- spot media carousel  -->
    @if(spot.media && spot.media.length > 0) {
    <app-img-carousel class="mb-2 mt-1" [media]="spot.media">
    </app-img-carousel>
    }

    <!-- <swiper-container
      class="spot-media-swiper"
      *ngIf="spot.media && spot.media.length > 0"
      [navigation]="true"
      [pagination]="{ clickable: true }"
    >
      <swiper-slide *ngFor="let mediaObj of spot.media"
        ><img
          *ngIf="mediaObj.type === 'image'"
          src="{{ mediaObj.src }}"
          class="spot-img"
        />
      </swiper-slide>
    </swiper-container> -->

    <!-- Spot Description -->
    <div *ngIf="spot.getDescription(locale)">
      <h4
        class="mat-title-small"
        i18n="description header|The header for the spot description"
      >
        Description
      </h4>
      <p>
        {{ spot.getDescription(locale) }}
      </p>
    </div>

    <!-- Freatures -->
    @if(spot.amenities?.length > 0) {
    <div class="mb-4">
      <h4 i18n class="mat-title-small">Features and amenities</h4>
      <mat-chip-set aria-label="Dog selection">
        @for(amenity of spot.amenities; track amenity) {
        <mat-chip>
          <mat-icon matChipAvatar>{{ amenity.icon }}</mat-icon>
          {{ amenity.name }}
        </mat-chip>
        }
      </mat-chip-set>
    </div>
    }

    <!-- Ratings -->
    <div class="mb-4">
      <h4 class="mat-title-small" i18n>Rating and user reviews</h4>
      <div class="d-flex flex-row align-items-center mb-3">
        <div
          class="d-flex flex-column align-items-center justify-content-center gap-1 pe-4"
        >
          <span class="mat-headline-large mb-0">{{
            (spot.rating / 2).toFixed(1)
          }}</span>
          <app-spot-rating
            [rating1to5]="spot.rating / 2"
            [showNumReviews]="false"
            [showRating]="false"
          ></app-spot-rating>
          <span class="mat-body-medium">{{ 23 }} reviews</span>
        </div>
        <div class="flex-grow-1 d-flex flex-column gap-3">
          <mat-progress-bar
            class="rounded"
            mode="determinate"
            value="100"
          ></mat-progress-bar>
          <mat-progress-bar
            class="rounded"
            mode="determinate"
            value="80"
          ></mat-progress-bar>
          <mat-progress-bar
            class="rounded"
            mode="determinate"
            value="60"
          ></mat-progress-bar>
          <mat-progress-bar
            class="rounded"
            mode="determinate"
            value="40"
          ></mat-progress-bar>
          <mat-progress-bar
            class="rounded"
            mode="determinate"
            value="20"
          ></mat-progress-bar>
        </div>
      </div>

      <!-- Spot review histogram -->
      <!-- // TODO review histogram -->

      @if(authenticationService.isSignedIn) {
      <!-- // TODO in the future also make sure the user visited the spot -->
      <button
        mat-stroked-button
        color="primary"
        i18n-matTooltip="
          Review this spot button tooltip|Tooltip of button to review the
          spot@@review_spot_tooltip"
        matTooltip="Review this spot"
        (click)="openSpotReviewDialog()"
        i18n="
          Review spot button lable|Button to review the spot
          label@@review_spot_button_label"
      >
        Review this spot
      </button>
      }
    </div>

    <!-- Spot Address or Location and action buttons -->
    <div class="d-flex justify-start mb-4 flex-column">
      @if(spot.address?.formatted) {
      <h4 class="mat-title-small">Address</h4>
      <p class="mat-body-large">{{ spot.address.formatted }}</p>
      } @else {
      <h4 class="mat-title-small">Location</h4>
      <p class="mat-body-large">
        {{ spot.getReadableLocation() }}
      </p>
      }
      <div class="d-flex flex-row gap-2">
        <button
          mat-stroked-button
          color="primary"
          class="flex-grow-1 flex-basis-0"
          i18n-matTooltip="
            Open in maps button tooltip|Tooltip of button to open the spot in
            maps@@open_maps_tooltip"
          matTooltip="Open the location of this spot in Maps"
          (click)="openSpotInMaps()"
          i18n="
            Open in maps button|Button to open the spot in
            maps@@open_maps_button_label"
        >
          Open in {{ isUsingAppleMaps ? "Apple Maps" : "Google Maps" }}
        </button>
        <button
          mat-stroked-button
          color="primary"
          class="flex-grow-1 flex-basis-0"
          matTooltip="Navigate to this spot"
          (click)="openDirectionsInMaps()"
        >
          Navigate to spot
        </button>
      </div>
    </div>

    <!-- Action buttons -->
    @if(authenticationService.isSignedIn) {
    <mat-divider></mat-divider>
    <div class="d-flex my-3 gap-2">
      <button
        mat-stroked-button
        i18n-matTooltip
        matTooltip="Edit this spot"
        i18n-aria-label
        aria-label="Example icon button with a share icon"
        (click)="editButtonClick()"
        class="flex-grow-1 flex-basis-0"
        i18n="Edit button label|Label of the button to edit the spot"
      >
        Edit
      </button>
      <button
        mat-stroked-button
        color="warn"
        i18n-matTooltip
        matTooltip="Report this spot"
        i18n-aria-label
        aria-label="Example icon button with a share icon"
        class="flex-grow-1 flex-basis-0"
        (click)="openSpotReportDialog()"
        i18n="report button label|Label of the button to report the spot"
      >
        Report
      </button>
    </div>
    } } @else {
    <!-- Spot title editing field -->
    <form>
      <mat-form-field style="width: 100%">
        <mat-label
          i18n="
            spot name placeholder|Placeholder of the spot name in the edit form
          "
          >Spot name</mat-label
        >
        <input
          #spotNameInput
          matInput
          [value]="spot?.getName(locale)"
          (change)="spot.setName($event.target.value, locale)"
        />
      </mat-form-field>
    </form>

    <!-- Media preview grid -->
    <app-media-preview-grid
      [media]="spot.editableMedia"
      (mediaChanged)="mediaChanged($event)"
    ></app-media-preview-grid>

    <!-- Image upload  -->
    <div class="upload-spot-image-box">
      <app-upload-media-ui
        [allowedMimeTypes]="['image/jpg', 'image/jpeg', 'image/png']"
        (uploadMedia)="setSpotImage($event)"
      >
      </app-upload-media-ui>
      <button
        mat-flat-button
        (click)="uploadImage()"
        [disabled]="!newSpotImage"
        class="mt-2"
        color="primary"
        i18n="
          Upload spot image button label|Label of the button to upload a spot
          image
        "
      >
        Upload Spot Image
      </button>
    </div>

    <!-- Edit spot form -->
    <mat-form-field style="width: 100%">
      <mat-label i18n>Spot type</mat-label>
      <mat-select
        [value]="spot?.type"
        (selectionChange)="spot.type = $event.value"
      >
        <mat-option *ngFor="let type of spotTypes" [value]="type">
          {{ capitalize(type) }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field style="width: 100%">
      <mat-label i18n>Spot area</mat-label>
      <mat-select
        [value]="spot?.area"
        (selectionChange)="spot.area = $event.value"
      >
        <mat-option *ngFor="let area of spotAreas" [value]="area">
          {{ capitalize(area) }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field style="width: 100%">
      <mat-label i18n>Description</mat-label>
      <textarea
        matInput
        i18n-placeholder="
          Spot description edit field placeholder|Placeholder of the spot
          description edit field
        "
        placeholder="Description of the spot, its features and more..."
        [value]="spot?.getDescription(locale) ?? ''"
        (change)="spot.setDescription($event.target.value, locale)"
      ></textarea>
    </mat-form-field>

    <div class="my-3 d-flex justify-start">
      <button
        mat-stroked-button
        *ngIf="spot.id && !hasBounds()"
        (click)="addBoundsClicked()"
        i18n="
          Add bounds button label|Label of the button to add bounds to a spot
        "
      >
        Add bounds
      </button>
    </div>
    }
  </mat-card-content>
  @if(isEditing) {
  <mat-card-actions class="mt-3 gap-2">
    <button
      mat-stroked-button
      color="warn"
      *ngIf="editable"
      (click)="discardButtonClick()"
      class="flex-grow-1 flex-basis-0"
      i18n="Discard changes button label|Label of the button to discard changes"
    >
      Discard changes
    </button>
    <button
      mat-stroked-button
      color="primary"
      *ngIf="editable"
      (click)="saveButtonClick()"
      class="flex-grow-1 flex-basis-0"
      i18n="Save changes button label|Label of the button to save changes"
    >
      Save changes
    </button>
  </mat-card-actions>
  }
</mat-card>
