@use "@angular/material" as mat;

// Available color palettes: https://material.io/design/color/
$pkfrspot-primary: mat.define-palette(mat.$indigo-palette, 500);
$pkfrspot-accent: mat-palette(mat.$pink-palette, A200, A100, A400);
$pkfrspot-warn: mat.define-palette(mat.$red-palette);

// Create the theme object (a Sass map containing all of the palettes).
$pkfrspot-light-theme: mat.define-light-theme(
  (
    color: (
      $pkfrspot-primary,
      $pkfrspot-accent,
      $pkfrspot-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);
