<app-nav-rail-container>
  <app-nav-rail class="mat-elevation-z3 d-none d-md-block">
    <span
      class="d-none d-md-block text-center text-light text-wrap p-2 {{
        navbarConfig.logo.class
      }}"
      >{{ navbarConfig.logo.text }}</span
    >
    <app-mat3-nav-button
      *ngFor="let button of navbarConfig.buttons"
      [icon]="button.icon"
      [label]="button.name"
      [routerLink]="button.link"
    ></app-mat3-nav-button>
  </app-nav-rail>
  <app-nav-rail-content>
    <!-- This is where the pages content gets displayed -->
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>

    <!-- Bottom navigation bar -->
    <mat-toolbar class="d-md-none mat-elevation-z1">
      <app-mat3-nav-button
        *ngFor="let button of navbarConfig.buttons"
        [icon]="button.icon"
        [label]="button.name"
        [routerLink]="button.link"
      ></app-mat3-nav-button>
    </mat-toolbar>

    <!-- User FAB -->
    <button
      mat-fab
      color="primary"
      class="profile-icon-button login-fab d-none d-md-block"
      [matMenuTriggerFor]="navUserMenu"
    >
      <mat-icon *ngIf="!authService.isSignedIn">person_outline</mat-icon>
      <img
        *ngIf="authService.isSignedIn && authService.user?.data?.profilePicture"
        [src]="authService.user.data.profilePicture"
      />
    </button>

    <mat-menu #navUserMenu="matMenu">
      <a routerLink="/sign-in" *ngIf="!authService.isSignedIn" mat-menu-item>
        <mat-icon>login</mat-icon>
        <span>Sign in</span>
      </a>
      <a *ngIf="!authService.isSignedIn" routerLink="/sign-up" mat-menu-item>
        <mat-icon>person_add</mat-icon>
        <span>Sign up</span>
      </a>
      <a
        [routerLink]="'/u/' + authService.user?.data?.uid || ''"
        *ngIf="authService.isSignedIn"
        mat-menu-item
      >
        <mat-icon>face</mat-icon>
        <span>My Profile</span>
      </a>
      <button
        *ngIf="authService.isSignedIn"
        mat-menu-item
        [routerLink]="'/settings'"
      >
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <button
        *ngIf="authService.isSignedIn"
        mat-menu-item
        (click)="logUserOut()"
      >
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </app-nav-rail-content>
</app-nav-rail-container>
