.title, .logo {
    font-family: 'Condiment', cursive;
    margin-bottom: -7px;
    margin-right: 15px;
}

mat-toolbar {
    position: relative;
    z-index: 10;

    button {
        margin-left: 5px;
        margin-right: 5px;
    }
}

.spacer {
  flex: 1 1 auto;
}