<mat-toolbar color="{{navbarConfig.color}}" class="mat-elevation-z6">
  <span class="{{navbarConfig.logo.class}}">{{navbarConfig.logo.text}}</span>
  <button mat-button *ngFor="let button of navbarConfig.buttons" routerLink="{{button.link}}"
    matBadge="{{button.badge.number}}" matBadgeColor="{{button.badge.color}}"
    [matBadgeHidden]="button.badge.number === 0" matTooltip="{{button.tooltip}}"
    matTooltipPosition="below" [matTooltipShowDelay]="1500">{{button.name}}</button>
</mat-toolbar>

<router-outlet></router-outlet>