//@import "@angular/material/theming";

.title,
.logo {
  font-family: "Permanent Marker", cursive;
  font-size: 1.5em;
  line-height: 1em;
  padding-bottom: 4px;
}

mat-toolbar {
  position: relative;
  z-index: 10;

  button {
    margin-left: 5px;
    margin-right: 5px;
  }
  button.mat-stroked-button {
    border-color: white;
  }
}

.spacer {
  flex: 1 1 auto;
}

.user-display {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  padding-bottom: 5px;
  img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 5px;
  }

  .mat-button-wrapper {
    padding: 5px;
  }
}
.profile-icon-button {
  img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
}
::ng-deep .user-display > span.mat-button-wrapper {
  width: 100%;
  text-align: center;
}

::ng-deep a.mat-menu-item {
  text-decoration: none;
}

.login-fab {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 2;
}
