div.nav-rail {
  display: flex;
  flex-direction: column;
  width: 90px;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  padding-top: 14px;

  ::ng-deep > * {
    margin-bottom: 20px;
  }
}
