@use "@angular/material" as mat;
@use "../../theming/m3-theme" as theme;

div.nav-rail {
  display: flex;
  flex-direction: column;
  width: 80px;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  padding-top: 14px;
  background-color: red;

  ::ng-deep > * {
    margin-bottom: 20px;
  }
}

div.nav-rail {
  background-color: mat.get-theme-color(
    theme.$dark-theme,
    surface-container-low
  );
}
